---
http_interactions:
- request:
    method: get
    uri: https://reachvolunteering.org.uk/harrow-community-network-opportunity-feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Cache:
      - MISS
      Etag:
      - '"1519884144-1"'
      Last-Modified:
      - Thu, 01 Mar 2018 06:02:24 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"nodes":[{"node":{"title":"Social Media Promotion","Organisation":"Abrahamic
        Reunion England","Description":"We need advice on how to best utilise Facebook,
        Twitter SEO, in line promotion.\nWe are not experienced in online social media
        promotion and urgently seeking expertise!\n","Path":"https:\/\/reachvolunteering.org.uk\/opp\/social-media-promotion?referrer_id=Harrow
        Community Network&?utm_source=HCN&utm_campaign=feed&utm_medium=partners","Town":"Harrow","Postcode":"HA7
        3PF","Coordinates":"51\u00b0 36'' 30.708\" N, 0\u00b0 19'' 40.9332\" W"}},{"node":{"title":"Business
        Mentor","Organisation":"London Business Partnership Limited","Description":"The
        role involves the mentor meeting their respective mentee (business owner\/entrepreneur)
        on a monthly basis (recommended) or at any other frequency agreed between
        the parties.\nAt this meeting latter will feedback on their activities in
        relation to completing the\u00a0agreed action points establish[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA7%203PF,%20Harrow&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "HA7 3PF",
                       "short_name" : "HA7 3PF",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Drummond Drive",
                       "short_name" : "Drummond Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Stanmore",
                       "short_name" : "Stanmore",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Drummond Dr, Stanmore HA7 3PF, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6090838,
                          "lng" : -0.3273176
                       },
                       "southwest" : {
                          "lat" : 51.6076288,
                          "lng" : -0.3286692
                       }
                    },
                    "location" : {
                       "lat" : 51.6085388,
                       "lng" : -0.3280368
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6097052802915,
                          "lng" : -0.3266444197084979
                       },
                       "southwest" : {
                          "lat" : 51.6070073197085,
                          "lng" : -0.329342380291502
                       }
                    }
                 },
                 "place_id" : "ChIJ4-NsJn0UdkgRPkfEFj2vbEE",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 01 Mar 2018 06:02:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA7%201GB,%20Harrow&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA4%200LR,%20HILLINGDON&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA0%203AB,%20Wembley&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA5%201AE,%20Pinner&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA9%200NA,%20Kingston,%20Twickenham,%20Hammersmith,%20Wembley,%20Hayes&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 01 Mar 2018 06:02:29 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA7%204LP,%20Stanmore&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA9%200FJ,%20Volunteers%20are%20required%20across%20North%20London%20to%20support%20our%20members&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
     [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA5%202JQ,%20Middlesex&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" :[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA9%200FJ,%20Volunteers%20are%20required%20across%20North%20London%20to%20support%20our%20members%20&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
  [...]
[...]
