---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"address_1":null,"address_2":null,"availability":{"friday":[true,true,false],"monday":[true,true,false],"saturday":[false,false,false],"sunday":[false,false,false],"thursday":[true,true,false],"tuesday":[true,true,false],"wednesday":[true,true,false]},"city":null,"county":null,"created":"2018-02-22T17:25:37.324009+00:00","description":"Are
        you able to help our clients get ready for employment? \n\nWe\u2019re looking
        for people who can offer our clients support with a wide range of work related
        skills:\n\n\u2022 Interview practice & preparation\n\u2022 Identifying transferable
        skills and building their confidence to find work\n\u2022 Practical skills,
        such as basic IT, effective communication and being organised\n\u2022 How
        to present yourself to an employer\n\nWe also need volunteers who can deliver
        coaching sessions to help clients improve their confidence, motivation and
        other areas that will help them find and sustain employment. You''ll coach
        clients on a one-to-one basis, using your coaching training to help them towards
        a brighter future.\n\nBy offering this help, you will give our clients a chance
        to practise their job seeking skills and share your experience and knowledge
        from your own career.","for_recruiter":{"active_opportunities_count":157,"address_1":"4th
        Floor, Jessica House","address_2":"Red Lion Square","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/DAVID_DOIT.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/DAVID_DOIT.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/DAVID_DOIT.320x391.jpg","height":391,"width":320}],"blurb":"Volunteer
        with Shaw Trust and help create brighter futures for people in your community.
        \n\nShaw Trust provides employment opportunities, skills development training,
        and health and wellbeing services across the UK. We operate charitable social
        enterprises and retail shops, and work alongside Shaw Education Trust, which
        runs a diverse chain of academy schools.\n\nWe add value to every service
        we deliver by investing back into community projects, such as our social enterprises,
        Community Hubs and national volunteering scheme.\n\nVolunteers help us achieve
        our aim of empowering people and supporting them towards employment and/or
        helping with their mental health and wellbeing. They also help in our schools
        and Social Enterprises and they help us run our charity shops too.  \n\nShaw
        Trust volunteers are at the heart of everything we do. \n\nTo find out more
        about becoming a Shaw Trust volunteer please email volunteers@shaw-trust.org.uk
        or call 0300 247 2222 or visit shaw-trust.org.uk","charity":true,"city":"Wandsworth","contact_name":null,"created":"2014-10-27T20:15:36.962044+00:00","doit_approved":true,"donation_page":null,"email":"volunteers@shaw-trust.org.uk","facebook":"http://facebook.com/shawtrust","id":"a08bbaa5-aaac-4bc1-ba8e-ca29a4a4b82e","instagram":null,"is_user_subscribed":false,"is_volunteer_center":false,"lat":52.04,"links":[{"href":"/v2/orgs/shaw-trust","title":"Shaw
        Trust Profile"}],"lng":-0.76,"logo":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/DOITAVATAR.125x125.jpg","height":125,"width":125},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/DOITAVATAR.109x109.jpg","height":109,"width":109},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/DOITAVATAR.76x76.jpg","height":76,"width":76},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/DOITAVATAR.50x50.jpg","height":50,"width":50}],"name":"Shaw
        Trust","permissions":null,"phone":"0300 2472222","postcode":"SW18 4LS","rating":"0.00","rating_count":0,"slug":"shaw-trust","source":"doittrust","subscriber_count":105,"twitter":"http://twitter.com/shaw_trust","website":"http://www.shaw-trust.org.uk"},"for_recruiter_id":"a08bbaa5-aaac-4bc1-ba8e-ca29a4a4b82e","id":"691dc074-80f5-4258-9f51-2a8db76d6b9b","interests":[{"children":[],"created":"2016-06-17T14:53:44.740599+00:00","id":"65237764-e502-4a0b-8b4b-5cfa51341533","name":"Learning
        disability","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"learning-disablity","updated":"2017-09-15T08:14:40.802606+00:00"},{"children":[],"created":"2014-10-26T17:24:26.168763+00:00","id":"ea047609-577d-4cfb-a90f-1e7f3eb247ee","name":"Ex-offenders","parent_id":"48f607ba-71ae-4786-8a05-f0ff409252ee","slug":"ex-offenders","updated":"2014-10-26T17:24:26.168783+00:00"},{"children":[],"created":"2014-10-26T17:24:25.887147+00:00","id":"2326507a-d5fb-427a-a317-4f4988d37ad6","name":"Unemployed","parent_id":"66ab0718-8bb5-450c-b21d-9c90f9452422","slug":"unemployed","updated":"2014-10-26T17:24:25.887169+00:00"},{"children":[],"created":"2014-10-26T17:24:26.235376+00:00","id":"397cac61-1077-4f78-a8e5-d8c3dd29cde4","name":"Mental
        Health","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"mental-health","updated":"2014-10-26T17:24:26.235395+00:00"},{"children":[],"created":"2014-10-26T17:24:26.146376+00:00","id":"484cccef-29f7-463f-97e0-385657bc58da","name":"Disability","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"disability","updated":"2014-10-26T17:24:26.146396+00:00"}],"is_new":true,"is_updated":true,"lat":51.46839,"lng":-0.36092,"local_authority":{"id":"dba29fed-c2cc-4b64-a373-7c5ebc68a421","name":"Hounslow
        London Borough","slug":"hounslow-london-borough"},"location_id":"a8307bf9-6d75-4809-a1d2-74cb50a110dc","location_name":"Hounslow","location_type":"RL","locations":[{"address_1":null,"address_2":null,"city":null,"county":null,"geom":"01010000007e3a1e335019d7bf00e31934f4bb4940","id":"691dc074-80f5-4258-9f51-2a8db76d6b9b","lat":51.46839,"lng":-0.36092,"local_authority":{"id":"dba29fed-c2cc-4b64-a373-7c5ebc68a421","name":"Hounslow
        London Borough","slug":"hounslow-london-borough"},"location":{"admin_1":"England","admin_2":"Greater
        London","admin_3":"Hounslow","admin_4":null,"id":"a8307bf9-6d75-4809-a1d2-74cb50a110dc","lat":51.46839,"lng":-0.36092,"name":"Hounslow"},"location_id":"a8307bf9-6d75-4809-a1d2-74cb50a110dc","location_name":"Hounslow","location_type":"RL","places_available":10,"postcode":"TW3
        1BL","rating":"0.00","rating_count":0,"working_from_home":false},{"address_1":null,"address_2":null,"city":null,"county":null,"geom":"010100000027da5548f949cdbf73ba2c2636bf4940","id":"ef34178a-4bce-4a27-9daa-ec661bfe38f8","lat":51.49384,"lng":-0.22882,"local_authority":{"id":"ef2baef8-dac6-4a4e-a821-6f8446bb71fb","name":"Hammersmith
        and Fulham London Borough","slug":"hammersmith-and-fulham-london-borough"},"location":{"admin_1":"England","admin_2":"Greater
        London","admin_3":"Hammersmith and Fulham","admin_4":null,"id":"e4545e72-e733-41f[...]
- request:
    method: get
    uri: https://api.do-it.org/v2/opportunities?lat=51.5978&lng=-0.3370&miles=3.0&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"availability":{"friday":[true,true,false],"monday":[true,true,false],"saturday":[true,true,true],"sunday":[true,true,true],"thursda[...]
