---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"items": [{"address_1": "43 Claremont Road,", "city": "Wealdstone",
        "created": "2014-10-27T09:51:53.864127+00:00", "description": "By Volunteering
        to work with scouts, you will be responsible, along with the other leaders,
        helpers and members for planning and running the weekly activities for 10
        - 14 year olds! \n\nIt is a fun and rewarding role, allowing you to watch
        the young people enjoy the activities you organise, as well being involved
        in their development as they grow in confidence and ability. \n\nThe Scout
        Association provides a wide range of books and electronic resources to aid
        volunteers plan their activities together with an award winning training scheme
        and on-line programme resources", "for_recruiter": {"contact_name": null,
        "created": "2014-10-27T09:50:29.663966+00:00", "email": "debbie.evans@scouts.org.uk",
        "id": "33c3a2ab-06e2-4fab-a865-a8518cd842ca", "logo": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.125x125.jpg",
        "height": 125, "width": 125}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.109x109.jpg",
        "height": 109, "width": 109}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.76x76.jpg",
        "height": 76, "width": 76}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.50x50.jpg",
        "height": 50, "width": 50}], "name": "Scouts - Scout Association - Greater
        London Region", "phone": "01635 247845", "rating": "3.00", "slug": "greater-london-region"},
        "for_recruiter_id": "33c3a2ab-06e2-4fab-a865-a8518cd842ca", "id": "79ae1022-9059-40c0-82dd-3f5b15dd796a",
        "interests": [{"children": [], "created": "2014-10-26T17:24:26.246077+00:00",
        "id": "c1a66cf8-a685-4300-8f69-6d47a0bd93e0", "name": "Recreation", "parent_id":
        "cd7d0590-2800-45b4-8084-b475562e73f4", "slug": "recreation", "updated": "2014-10-26T17:24:26.246096+00:00"},
        {"children": [], "created": "2014-10-26T17:24:26.278190+00:00", "id": "8f0a66e0-30e7-4bdd-a190-7a9a36afcedd",
        "name": "Children", "parent_id": "56fabd4e-bac3-484f-9f55-448445f83481", "slug":
        "children", "updated": "2014-10-26T17:24:26.278210+00:00"}, {"children": [],
        "created": "2014-10-26T17:24:26.271205+00:00", "id": "8678f792-d24e-4810-99d5-c6e6ba4196a4",
        "name": "Families", "parent_id": "56fabd4e-bac3-484f-9f55-448445f83481", "slug":
        "families", "updated": "2014-10-26T17:24:26.271224+00:00"}, {"children": [],
        "created": "2014-10-26T17:24:26.274701+00:00", "id": "02b052fd-4f3d-418b-9542-0b980533b03b",
        "name": "Young people", "parent_id": "56fabd4e-bac3-484f-9f55-448445f83481",
        "slug": "young-people", "updated": "2014-10-26T17:24:26.274721+00:00"}], "is_new":
        false, "lat": 51.5983, "lng": -0.335993, "location": null, "location_id":
        null, "location_name": null, "location_type": "SL", "micro_availability":
        [], "owner_recruiter": {"contact_name": null, "created": "2014-10-27T09:50:29.663966+00:00",
        "email": "debbie.evans@scouts.org.uk", "id": "33c3a2ab-06e2-4fab-a865-a8518cd842ca",
        "logo": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.125x125.jpg",
        "height": 125, "width": 125}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.109x109.jpg",
        "height": 109, "width": 109}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.76x76.jpg",
        "height": 76, "width": 76}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.50x50.jpg",
        "height": 50, "width": 50}], "name": "Scouts - Scout Association - Greater
        London Region", "phone": "01635 247845", "rating": "3.00", "slug": "greater-london-region"},
        "owner_recruiter_id": "33c3a2ab-06e2-4fab-a865-a8518cd842ca", "photo": [{"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/opps/photos/X0A0667_6ptyC4xw2nhqJzudZRwLhS.616x318.jpg",
        "height": 318, "width": 616}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/opps/photos/X0A0667_6ptyC4xw2nhqJzudZRwLhS.308x159.jpg",
        "height": 159, "width": 308}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/opps/photos/X0A0667_6ptyC4xw2nhqJzudZRwLhS.243x124.jpg",
        "height": 124, "width": 243}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/opps/photos/X0A0667_6ptyC4xw2nhqJzudZRwLhS.170x87.jpg",
        "height": 87, "width": 170}], "postcode": "HA3 7AU", "rating": "0.00", "specific_end_date":
        null, "specific_start_date": "2016-01-29T16:05:04.445000+00:00", "status":
        "live", "title": "Scout Leader (volunteering with 10-14 year olds) 27th Harrow",
        "updated": "2016-01-29T15:50:10.669967+00:00", "working_from_home": false},
        {"address_1": "43 Claremont Road,", "city": "Wealdstone", "created": "2014-10-27T09:50:38.557408+00:00",
        "description": "Assistant Leaders are responsible, with Leaders, helpers and
        members, for planning and running the weekly activities for 8-10 year olds!\n\nIt
        is a fun and rewarding role, allowing you to watch the young people enjoy
        the activities you organize, as well as being involved in their development
        as they grow in confidence an[...]
[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=1.5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"items": [{"address_1": "HTN Studio, Unit 1", "city": "Harrow",
        "created": "2016-01-14T23:25:46.460492+00:00", "description": "Harrow Talk[...]
[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=1.5&page=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"items": [{"address_1": null, "city": null, "created": "2016-01-15T15:43:29.786829+00:00",
        "description": "working in a charity shop", "for_recruiter": {"contact_name":
        "rani perin", "created": "2016-01-08T12:41:41.436496+00:00", "email": "ranibooksgirl@yahoo.com",
        "id": "050e13f3-f1d2-47aa-85d8-425fd4c1b70c", "logo": [], "name": "watford
        volunteer centrre", "phone": "0753 847 3138", "rating": "0.00", "slug": "watford-volunteer-centrre"},
        "for_recruiter_id": "050e13f3-f1d2-47aa-85d8-425fd4c1b70c", "id": "27a0ece6-a8d4-4fc4-8ec7-2a51d227a08f",
        "interests": [], "is_new": false, "lat": 51.57835, "lng": -0.33208, "location":
        {"admin_1": "England", "admin_2": "Greater London", "admin_3": "Harrow", "admin_4":
        null, "id": "58b143ec-1033-4fd9-a8c2-d94ae0a18f03", "lat": 51.57835, "lng":
        -0.33208, "name": "Harrow"}, "location_id": "58b143ec-1033-4fd9-a8c2-d94ae0a18f03",
        "location_name": "Harrow", "location_type": "RL", "micro_availability": [],
        "owner_recruiter": {"contact_name": "rani perin", "created": "2016-01-08T12:41:41.436496+00:00",
        "email": "ranibooksgirl@yahoo.com", "id": "050e13f3-f1d2-47aa-85d8-425fd4c1b70c",
        "logo": [], "name": "watford volunte[...]
[...]
