---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Station%20Rd,%20HA8%207BD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Station Road",
                       "short_name" : "Station Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Broadwalk Centre",
                       "short_name" : "Broadwalk Centre",
                       "types" : [ "establishment", "point_of_interest" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA8 7BD",
                       "short_name" : "HA8 7BD",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Broadwalk Centre, Station Rd, London HA8 7BD, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6155735,
                          "lng" : -0.2742465000000001
                       },
                       "southwest" : {
                          "lat" : 51.61074259999999,
                          "lng" : -0.2793488
                       }
                    },
                    "location" : {
                       "lat" : 51.6131459,
                       "lng" : -0.2766922
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6155735,
                          "lng" : -0.2742465000000001
                       },
                       "southwest" : {
                          "lat" : 51.61074259999999,
                          "lng" : -0.2793488
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJa22KIKQWdkgR9R1b18_XLD8",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 27 Mar 2017 16:48:24 GMT
recorded_with: VCR 3.0.3
