<strong><h2>About Us</h2></strong>
The open source project Local Support is a directory of local charity and non-profit organisations for a small geographical area.  Our customer is the non-profit organization Voluntary Action Harrow.  The mission is to support members of the public searching for support groups for things like helping care for an elderly or sick relative; and also to help charities and non-profits find each other and network.
