---
http_interactions:
- request:
    method: get
    uri: https://reachskills.org.uk/harrow-community-network-opportunity-feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Cache:
      - HIT
      Etag:
      - '"1490176901-1"'
      Last-Modified:
      - Wed, 22 Mar 2017 10:01:41 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"nodes":[{"node":{"title":"Charity Treasurer","Organisation":"The
        Patients Association","Description":"The duties of a Trustee treasurer are
        to:\nOversee, approve and present budgets, accounts and financial statements
        to the rest of the board and external agencies\nAdvise the board on the financial
        implications of decisions and strategic plans\nEnsure the charity has an appropriate
        investment policy which is viable and does not conflict with its charitable
        aims\nMake sure the organisation''s financial resources are adequate for present
        and future spending and that proper accounting procedures and [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "HA1 3UJ",
                       "short_name" : "HA1 3UJ",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Harrow HA1 3UJ, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5774212,
                          "lng" : -0.3202171
                       },
                       "southwest" : {
                          "lat" : 51.5734595,
                          "lng" : -0.3277267
                       }
                    },
                    "location" : {
                       "lat" : 51.5750985,
                       "lng" : -0.3224814
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5774212,
                          "lng" : -0.3202171
                       },
                       "southwest" : {
                          "lat" : 51.5734595,
                          "lng" : -0.3277267
                       }
                    }
                 },
                 "place_id" : "ChIJo1ytTKITdkgR0y0pujhfkSg",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 22 Mar 2017 10:02:05 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA02LP,%20Sudbury%20Town,%20London%20Borough%20of%20Brent&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addres[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
     [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA02LP,%20Brent&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA8%200LN,%20Barnet&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA7%203JE,%20London&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA8%200LN,%20Burnt%20Oak&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ%20%20%20,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA8%209BG,%20Edgware&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA9%209FX,%20Wembley&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
