---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "HA1 3UJ",
                       "short_name" : "HA1 3UJ",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Harrow HA1 3UJ, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5774212,
                          "lng" : -0.3202171
                       },
                       "southwest" : {
                          "lat" : 51.5734595,
                          "lng" : -0.3277267
                       }
                    },
                    "location" : {
                       "lat" : 51.5750985,
                       "lng" : -0.3224814
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5774212,
                          "lng" : -0.3202171
                       },
                       "southwest" : {
                          "lat" : 51.5734595,
                          "lng" : -0.3277267
                       }
                    }
                 },
                 "place_id" : "ChIJo1ytTKITdkgR0y0pujhfkSg",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 22 Mar 2017 10:02:05 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA02LP,%20Sudbury%20Town,%20London%20Borough%20of%20Brent&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addres[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
     [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA02LP,%20Brent&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA8%200LN,%20Barnet&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA7%203JE,%20London&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA8%200LN,%20Burnt%20Oak&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ%20%20%20,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA8%209BG,%20Edgware&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA9%209FX,%20Wembley&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ,%20Harrow&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "HA1 3UJ",
                       "short_name" : "HA1 3UJ",
             [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA02LP,%20Sudbury%20Town,%20London%20Borough%20of%20Brent&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA,%20Harrow&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 09 May 2019 13:08:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA02LP,%20Brent&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA8%200LN,%20Barnet&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA7%203JE,%20London&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA8%200LN,%20Burnt%20Oak&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ%20%20%20,%20Harrow&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_compone[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA8%209BG,%20Edgware&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA9%209FX,%20Wembley&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [[...]
- request:
    method: get
    uri: https://reachvolunteering.org.uk/harrow-community-network-opportunity-feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Cache:
      - HIT
      Etag:
      - '"1574015638-1"'
      Last-Modified:
      - Sun, 17 Nov 2019 18:33:58 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"nodes":[{"node":{"title":"Chair of Trustees","Organisation":"The
        RNOH Charity","Description":"The role of Chair of the Board of Trustees is
        to lead and develop the strategic direction of the Charity, and ensure the
        delivery of results by monitoring performance. The Chair is responsible with
        the Board for ensuring compliance with all legal responsibilities and maintaining
        the highest standards of corporate governance.\u00a0\n","Path":"https://reachvolunteering.org.uk/opp/chair-trustees-157?referrer_id=Harrow
        Community Network&?utm_source=HCN&utm_campaign=feed&utm_medium=partners","Town":"Stanmore","Postcode":"HA7
        4LP","Coordinates":"51\u00b0 38'' 1.0716\" N, 0\u00b0 18'' 39.4524\" W"}},{"node":{"title":"Strategic
        Planning/Visioning Volunteer - North London","Organisation":"Sported","Description":"Varied
        and flexible placements\nWe have a range of volunteering opportunities available
        across the UK. These can be one-off phone calls or emails, 2-6 hours of support
        in person or remotely, or working long term with a group over 3-9 months (around
        4-8 hours a month, predominantly face-to-fa[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA7%204LP,%20Stanmore&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA9%200FJ,%20Volunteers%20are%20required%20across%20North%20London%20to%20support%20our%20members&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
     [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA5%202JQ,%20Middlesex&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" :[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=HA9%200FJ,%20Volunteers%20are%20required%20across%20North%20London%20to%20support%20our%20members%20&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
  [...]
[...]
