---
http_interactions:
- request:
    method: get
    uri: https://reachskills.org.uk/harrow-community-network-opportunity-feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://reachvolunteering.org.uk/harrow-community-network-opportunity-feed
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://reachvolunteering.org.uk/harrow-community-network-opportunity-feed">here</a>.</p>
        </body></html>
  recorded_at: Tue, 18 Sep 2018 21:11:03 GMT
- request:
    method: get
    uri: https://reachvolunteering.org.uk/harrow-community-network-opportunity-feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Cache:
      - HIT
      Etag:
      - '"1537305030-1"'
      Last-Modified:
      - Tue, 18 Sep 2018 21:10:30 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"nodes":[{"node":{"title":"Financial Advisory Manager","Organisation":"Meds
        and Birth Defects","Description":"Type of Role\nThe Finance Adviser is working
        to provide technical support\/advice on all finance-related issues including
        resources mobilization, corporate tax, and fund management. As a new organisation
        we would like to maximise the use of our resources to ensure maximum input
        to supporting those that have been affected by teratogenic medicine and to
        raise an awareness of their plight. \u00a0\n\u00a0\nYou will be expected to:
        \nProvide support to[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA7%204TZ%20..,%20Stanmore&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "HA7 4TZ",
                       "short_name" : "HA7 4TZ",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Sandymount Avenue",
                       "short_name" : "Sandymount Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Stanmore",
                       "short_name" : "Stanmore",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Sandymount Ave, Stanmore HA7 4TZ, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6151738,
                          "lng" : -0.3020083
                       },
                       "southwest" : {
                          "lat" : 51.6144078,
                          "lng" : -0.3032375
                       }
                    },
                    "location" : {
                       "lat" : 51.6148675,
                       "lng" : -0.3028452
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6161397802915,
                          "lng" : -0.3012739197084979
                       },
                       "southwest" : {
                          "lat" : 51.6134418197085,
                          "lng" : -0.303971880291502
                       }
                    }
                 },
                 "place_id" : "ChIJO5FndBQUdkgR2d3X-oBLncM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 18 Sep 2018 21:11:05 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%203UJ,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA3%205QX,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA2%206DZ,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%204ES,%20London%20Borough%20of%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA9%200FJ%20,%20London%20Borough%20of%20Brent&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA7%201GB,%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=HA1%201BB,%20London%20Borough%20of%20Harrow&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Keyless access to Google Maps Platform is deprecated. Please use an API key with all your API calls to avoid service interruption. For further details please refer to http://g.co/dev/maps-no-account",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Tue, 18 Sep 2018 21:11:07 GMT
recorded_with: VCR 4.0.0
