rules:
  indent:
    - 2
    - 2
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  no-console:
    - 0
env:
  es6: true
  browser: true
globals:
  React: false
  $: false
extends: 'eslint:recommended'
ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true
parser: 'babel-eslint'
plugins:
  - react
