*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
*.project
pickle-email-*.html
*.*~
*~
/.idea/*
.DS_Store
linecache19-0.5.13.gem
/bin/
