---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=84%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "84",
                       "short_name" : "84",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1",
                       "short_name" : "HA1",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    }
                 ],
                 "formatted_address" : "84 Pinner Rd, Harrow HA1, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.58148809999999,
                       "lng" : -0.3472873
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5828370802915,
                          "lng" : -0.3459383197084979
                       },
                       "southwest" : {
                          "lat" : 51.5801391197085,
                          "lng" : -0.348636280291502
                       }
                    }
                 },
                 "place_id" : "Ehw4NCBQaW5uZXIgUmQsIEhhcnJvdyBIQTEsIFVLIhoSGAoUChIJ4XXma2wTdkgRP3KANOqXcQkQVA",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 18 Sep 2018 23:32:24 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=84%20Pinner%20Road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
        [...]
