---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=34%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "34",
                       "short_name" : "34",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1",
                       "short_name" : "HA1",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    }
                 ],
                 "formatted_address" : "34 Pinner Rd, Harrow HA1, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.5814533,
                       "lng" : -0.3439893
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5828022802915,
                          "lng" : -0.342640319708498
                       },
                       "southwest" : {
                          "lat" : 51.5801043197085,
                          "lng" : -0.345338280291502
                       }
                    }
                 },
                 "place_id" : "EhwzNCBQaW5uZXIgUmQsIEhhcnJvdyBIQTEsIFVLIhoSGAoUChIJv8-cvm0TdkgRPNXjoGvh3bkQIg",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 24 Jul 2018 06:27:57 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=34%20pinner%20road,%20HA1%204HZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "34",
                       "short_name" : "34",
                       [...]
