---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=34%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "34",
                       "short_name" : "34",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1 4HZ",
                       "short_name" : "HA1 4HZ",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "34 Pinner Rd, Harrow, Greater London HA1 4HZ, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.5814562,
                       "lng" : -0.3439653
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5828051802915,
                          "lng" : -0.3426163197084979
                       },
                       "southwest" : {
                          "lat" : 51.5801072197085,
                          "lng" : -0.345314280291502
                       }
                    }
                 },
                 "place_id" : "ChIJk_csv20TdkgR1kEAxuB2Ejk",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 27 Jan 2016 21:54:57 GMT
- request:
    method: post
    uri: http://api.qa2.do-it.org/v2/opportunities
    body:
      encoding: UTF-8
      string: '{"advertise_start_date":"2017-09-09","advertise_end_date":"2017-09-29","blurb":"For
        free","description":"For free","owner_recruiter_id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","locations":[{"address":"Station
        Rd","postcode":"HA8 7BD","location_type":"SL","lat":51.6124159,"lng":-0.2752893}],"title":"Ops1"}'
    headers:
      X-Api-Key:
      - dummy_token
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {}, \n  \"links\": {\n    \"self\": {\n      \"href\":
        \"/v2/opportunities\", \n      \"title\": \"You are here.\"\n    }\n  }, \n
        \ \"meta\": {\n    \"code\": 401, \n    \"error_message\": \"Unauthorized.
        Requested: /v2/opportunities\", \n    \"error_type\": \"Unauthorized\", \n
        \   \"tenant\": \"doittrust\", \n    \"version\": \"2016.11.24.0\"\n  }\n}\n"
  recorded_at: Tue, 19 Sep 2017 16:48:45 GMT
recorded_with: VCR 3.0.3
