---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=83%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "83",
                       "short_name" : "83",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1",
                       "short_name" : "HA1",
                       "types" : [ "postal_code_prefix", "postal_code" ]
                    }
                 ],
                 "formatted_address" : "83 Pinner Rd, Harrow, Greater London HA1, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.581263,
                          "lng" : -0.3466452
                       },
                       "southwest" : {
                          "lat" : 51.5812514,
                          "lng" : -0.3466460000000001
                       }
                    },
                    "location" : {
                       "lat" : 51.5812514,
                       "lng" : -0.3466452
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5826061802915,
                          "lng" : -0.345296619708498
                       },
                       "southwest" : {
                          "lat" : 51.5799082197085,
                          "lng" : -0.3479945802915021
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "Eiw4MyBQaW5uZXIgUmQsIEhhcnJvdywgR3JlYXRlciBMb25kb24gSEExLCBVSw",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 27 Jan 2016 21:53:39 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=83%20pinner%20road,%20HA1%204HZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "83",
                       "short_name" : "83",
                       [...]
