---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=64%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "64",
                       "short_name" : "64",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Middlesex",
                       "short_name" : "Middlesex",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1 4HZ",
                       "short_name" : "HA1 4HZ",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "64 Pinner Rd, Harrow, Middlesex HA1 4HZ, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5814347,
                          "lng" : -0.346706
                       },
                       "southwest" : {
                          "lat" : 51.5813254,
                          "lng" : -0.3469967
                       }
                    },
                    "location" : {
                       "lat" : 51.58138,
                       "lng" : -0.3468514
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5827290302915,
                          "lng" : -0.345502369708498
                       },
                       "southwest" : {
                          "lat" : 51.5800310697085,
                          "lng" : -0.348200330291502
                       }
                    }
                 },
                 "place_id" : "ChIJjQWua2wTdkgRyc32EN8AgX0",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 27 Jan 2016 21:50:18 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=64%20Pinner%20Road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
             [...]
- request:
    method: post
    uri: http://api.qa2.do-it.org/v2/opportunities
    body:
      encoding: UTF-8
      string: '{"advertise_start_date":"2017-03-01","advertise_end_date":"2017-04-01","blurb":"Help
        with printing and copying.","description":"Help with printing and copying.","owner_recruiter_id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","locations":[{"address":null,"postcode":null,"location_type":"SL","lat":null,"lng":null}],"title":"Office
        Support"}'
    headers:
      X-Api-Key:
      - eyJhbGciOiJIUzI1NiIsImV4cCI6MTQ4NDczNzM5NywiaWF0IjoxNDg0NzMzNzk3fQ.eyJyYW5kIjowLjY3NTc5MzE3MTcwMDMwMTMsImlkIjoiOWQwOTMwNGMtZWU0ZC00NDdkLWI1MDMtNzJiYjUxODU3ZWJjIn0.Sae0GnTffIKxDHI0PXdKT6HFigaQXGPNEvXr8oxVEgk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"opportunity\": {\n      \"activities\": [],
        \n      \"advertise_end_date\": \"2017-04-01T00:00:00+00:00\", \n      \"advertise_start_date\":
        \"2017-03-01T00:00:00+00:00\", \n      \"alternative_contact_email\": null,
        \n      \"alternative_contact_name\": null, \n      \"alternative_contact_phone\":
        null, \n      \"application_url\": null, \n      \"apply_recruiter\": {\n
        \       \"active_opportunities_count\": 8, \n        \"address_1\": \"The
        Lodge\", \n        \"address_2\": \"64 Pinner Road\", \n        \"application_via_url\":
        false, \n        \"banner\": [\n          {\n            \"absolute_url\":
        \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg\",
        \n            \"height\": 391, \n            \"width\": 1170\n          },
        \n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.768x391.jpg\",
        \n            \"height\": 391, \n            \"width\": 768\n          },
        \n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.320x391.jpg\",
        \n            \"height\": 391, \n            \"width\": 320\n          }\n
        \       ], \n        \"blurb\": \"Help Out Harrow promotes and brokers volunteer
        opportunities for a variety of Harrow charities and voluntary groups.\", \n
        \       \"charity\": false, \n        \"city\": \"Harrow\", \n        \"contact_name\":
        \"Volunteering Team\", \n        \"created\": \"2016-01-11T16:55:34.106821+00:00\",
        \n        \"doit_approved\": false, \n        \"email\": \"volunteering@voluntaryactionharrow.org.uk\",
        \n        \"facebook\": \"https://www.facebook.com/VAHCoop\", \n        \"id\":
        \"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d\", \n        \"instagram\": null, \n
        \       \"is_user_subscribed\": false, \n        \"is_volunteer_center\":
        false, \n        \"lat\": 51.5815, \n        \"links\": [\n          {\n            \"href\":
        \"/v2/orgs/help-out-harrow\", \n            \"title\": \"Help Out Harrow!
        Profile\"\n          }\n        ], \n        \"lng\": -0.345092, \n        \"logo\":
        [\n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.125x125.jpg\",
        \n            \"height\": 125, \n            \"width\": 125\n          },
        \n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.109x109.jpg\",
        \n            \"height\": 109, \n            \"width\": 109\n          },
        \n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.76x76.jpg\",
        \n            \"height\": 76, \n            \"width\": 76\n          }, \n
        \         {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.50x50.jpg\",
        \n            \"height\": 50, \n            \"width\": 50\n          }\n        ],
        \n        \"name\": \"Help Out Harrow!\", \n        \"permissions\": {\n          \"opportunity_permissions\":
        {\n            \"create\": true, \n            \"delete\": true, \n            \"update\":
        true\n          }, \n          \"recruiter_permissions\": {\n            \"add_members\":
        true, \n            \"delete_members\": true, \n            \"update\": true,
        \n            \"update_members\": true\n          }\n        }, \n        \"phone\":
        \"020 8861 5894\", \n        \"postcode\": \"HA1 4HZ\", \n        \"rating\":
        \"2.00\", \n        \"rating_count\": 2, \n        \"slug\": \"help-out-harrow\",
        \n        \"source\": \"doittrust\", \n        \"subscriber_count\": 2, \n
        \       \"twitter\": \"https://twitter.com/VAHcoop\", \n        \"website\":
        \"http://www.voluntaryactionharrow.org.uk/volunteering-opportunities/\"\n
        \     }, \n      \"apply_recruiter_id\": \"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d\",
        \n      \"availability\": {\n        \"friday\": [\n          false, \n          false,
        \n          false\n        ], \n        \"monday\": [\n          false, \n
        \         false, \n          false\n        ], \n        \"saturday\": [\n
        \         false, \n          false, \n          false\n        ], \n        \"sunday\":
        [\n          false, \n          false, \n          false\n        ], \n        \"thursday\":
        [\n          false, \n          false, \n          false\n        ], \n        \"tuesday\":
        [\n          false, \n          false, \n          false\n        ], \n        \"wednesday\":
        [\n          false, \n          false, \n          false\n        ]\n      },
        \n      \"blurb\": \"Help with printing and copying.\", \n      \"created\":
        \"2017-03-23T10:06:58.392743+00:00\", \n      \"description\": \"Help with
        printing and copying.\", \n      \"draft\": false, \n      \"expired\": false,
        \n      \"for_recruiter\": {\n        \"active_opportunities_count\": 8, \n
        \       \"address_1\": \"The Lodge\", \n        \"address_2\": \"64 Pinner
        Road\", \n        \"application_via_url\": false, \n        \"banner\": [\n
        \         {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg\",
        \n            \"height\": 391, \n            \"width\": 1170\n          },
        \n        [...]
