---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=34%20pinner%20road&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "34",
                       "short_name" : "34",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Watford",
                       "short_name" : "Watford",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Hertfordshire",
                       "short_name" : "Hertfordshire",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "WD19 4ED",
                       "short_name" : "WD19 4ED",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "34 Pinner Rd, Watford WD19 4ED, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.6449154,
                       "lng" : -0.383163
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.64626438029151,
                          "lng" : -0.3818140197084979
                       },
                       "southwest" : {
                          "lat" : 51.64356641970851,
                          "lng" : -0.384511980291502
                       }
                    }
                 },
                 "place_id" : "ChIJSfCbFNRqdkgReJ9bbDxlPlY",
                 "plus_code" : {
                    "compound_code" : "JJV8+XP Watford, UK",
                    "global_code" : "9C3XJJV8+XP"
                 },
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "34",
                       "short_name" : "34",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" :[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=64%20pinner%20road,%20HA1%204HZ&key=AIzaSyC6LFNuqK4HY5dysPA026BrTyqWJEZgSVM&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: ASCII-8BIT
      string: |
        {
 [...]
