---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=007%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "7",
                       "short_name" : "7",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1 4HP",
                       "short_name" : "HA1 4HP",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "7 Pinner Rd, Harrow, Greater London HA1 4HP, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5861106,
                          "lng" : -0.3612605
                       },
                       "southwest" : {
                          "lat" : 51.5861044,
                          "lng" : -0.3612764000000001
                       }
                    },
                    "location" : {
                       "lat" : 51.5861044,
                       "lng" : -0.3612764000000001
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5874564802915,
                          "lng" : -0.359919469708498
                       },
                       "southwest" : {
                          "lat" : 51.5847585197085,
                          "lng" : -0.3626174302915021
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "Ei83IFBpbm5lciBSZCwgSGFycm93LCBHcmVhdGVyIExvbmRvbiBIQTEgNEhQLCBVSw",
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "7",
                       "short_name" : "7",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner View",
                       "short_name" : "Pinner Vie[...]
