---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=84%20pinner%20road,%20HA1%204HZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "84",
                       "short_name" : "84",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1",
                       "short_name" : "HA1",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    }
                 ],
                 "formatted_address" : "84 Pinner Rd, Harrow HA1, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.5814603,
                       "lng" : -0.3474224
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.58280928029149,
                          "lng" : -0.3460734197084979
                       },
                       "southwest" : {
                          "lat" : 51.58011131970849,
                          "lng" : -0.348771380291502
                       }
                    }
                 },
                 "place_id" : "Ehg4NCBQaW5uZXIgUmQsIEhhcnJvdywgVUsiGhIYChQKEgnhdeZrbBN2SBE_coA06pdxCRBU",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 30 Nov 2019 13:14:24 GMT
recorded_with: VCR 5.0.0
