---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=35%20pinner%20road,%20HA1%204HZ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "35",
                       "short_name" : "35",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1 4ES",
                       "short_name" : "HA1 4ES",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "35 Pinner Rd, Harrow, Greater London HA1 4ES, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5812047,
                          "lng" : -0.3442211
                       },
                       "southwest" : {
                          "lat" : 51.581049,
                          "lng" : -0.3443929
                       }
                    },
                    "location" : {
                       "lat" : 51.5811269,
                       "lng" : -0.344307
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5824758302915,
                          "lng" : -0.342958019708498
                       },
                       "southwest" : {
                          "lat" : 51.57977786970851,
                          "lng" : -0.3456559802915021
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJCe4KsW0TdkgRITCtowAZYew",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 19 May 2016 08:09:02 GMT
recorded_with: VCR 2.9.3
