---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=50%20City%20Road,%20HA1%204HZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "City Road",
                       "short_name" : "City Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "City Rd, London, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.53204969999999,
                          "lng" : -0.0866073
                       },
                       "southwest" : {
                          "lat" : 51.5215462,
                          "lng" : -0.1058423
                       }
                    },
                    "location" : {
                       "lat" : 51.52905519999999,
                       "lng" : -0.09477479999999999
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.53204969999999,
                          "lng" : -0.0866073
                       },
                       "southwest" : {
                          "lat" : 51.5215462,
                          "lng" : -0.1058423
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJR_vrSVgbdkgRQPTLBvwoNns",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 25 Dec 1980 00:00:01 GMT
[...]
