---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=50%20City%20Road,%20HA1%204HZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "50",
                       "short_name" : "50",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "City Road",
                       "short_name" : "City Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "EC1Y 2AN",
                       "short_name" : "EC1Y 2AN",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "50 City Rd, London EC1Y 2AN, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.52394940000001,
                       "lng" : -0.0876844
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.52529838029151,
                          "lng" : -0.08633541970849797
                       },
                       "southwest" : {
                          "lat" : 51.52260041970851,
                          "lng" : -0.08903338029150203
                       }
                    }
                 },
                 "place_id" : "ChIJ02ivNa8cdkgRWGP5YvHogLw",
                 "plus_code" : {
                    "compound_code" : "GWF6+HW Shoreditch, London, United Kingdom",
                    "global_code" : "9C3XGWF6+HW"
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 25 Dec 1980 00:00:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=50%20City%20Road,%20HA1%204HZ&key=AIzaSyC6LFNuqK4HY5dysPA026BrTyqWJEZgSVM&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "HA1 4HZ",
                       "short_name" : "HA1 4HZ",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                    [...]
