<p><b> The Following email will be sent when a user is invited: </b></p>
<div class="well" id="preview_email">
  <%= render template: 'custom_devise_mailer/invitation_instructions', :locals => { :@resource => User.new } %>
  <%= link_to 'Edit template', edit_mail_template_path(@mail_template), class: 'btn btn-primary' %>
</div>
<%= render partial: 'organisation_reports/without_users_table' %>

