<div class="row">
  <% if @proposer_email %>
    <p>
      This organisation proposed by '<%= @proposer_email%>'
    </p>
  <% end %>
  <%= render partial: "organisations/show", locals: {org: @proposed_organisation}%>
  <% if current_user.try(:superadmin?) %>
    <a href = "#", class = "btn btn-primary">Accept</a>
    <a href = "#", class = "btn btn-danger">Reject</a>
  <% end %>
</div>

<% render partial: 'shared/map_scripts', locals: {markers: @markers} %>
