<div class="row">
  <% if @proposer_email %>
    <p>
      This organisation proposed by '<%= @proposer_email%>'
    </p>
  <% end %>
<%= render partial: "organisations/show", locals: {org: @proposed_organisation}%>
</div>

<% render partial: 'shared/map_scripts', locals: {markers: @markers} %>
