<div class="row">
  <% if @proposer_email %>
  <div class="row">
    This organisation proposed by '<%= @proposer_email%>'
  </div>
  <% end %>
<%= render partial: "organisations/show", locals: {org: @proposed_organisation}%>
</div>