<% case category
   when @first_category_name %> <div><strong> <em>What you do</em></strong> </div>
   <% when @second_category_name %> <div><strong> <em>Who you help</em></strong> </div>
   <% when @third_category_name %> <div><strong> <em>How you help</em></strong> </div>
<% end %>