<% case category
   when 'Accommodation'%> <div><strong> <em>What you do</em></strong> </div>
   <% when 'Elderly' %> <div><strong> <em>Who you help</em></strong> </div>
   <% when 'Advocacy' %> <div><strong> <em>How you help</em></strong> </div>
<% end %>