<% case category
   when @categories_start_with[:what_they_do]%> <div><strong> <em>What you do</em></strong> </div>
   <% when @categories_start_with[:who_they_help] %> <div><strong> <em>Who you help</em></strong> </div>
   <% when @categories_start_with[:how_they_help] %> <div><strong> <em>How you help</em></strong> </div>
<% end %>