<<<<<<< HEAD
<% if @organisation.users.empty? %>
    <div>This organisation has no admins yet</div>
<% else %>
  <div>
  Organisation administrator emails:
  <ul>
  <% @organisation.users.each do |superadmin| %>
  <li><%= superadmin.email %></li>
  <% end %>
  </ul>
=======
<% if org.users.empty? %>
  <div>This organisation has no superadmins yet</div>
<% else %>
  <div>
    Organisation superadministrator emails:
    <ul>
      <% org.users.each do |superadmin| %>
        <li><%= superadmin.email %></li>
      <% end %>
    </ul>
>>>>>>> upstream/develop
  </div>
<% end %>
