<%= render partial: 'search_form' %>

<div id="orgs_scroll">
  <div class="table">
    <table>
      <% @organisations.each do |organisation| %>
        <tr>
          <td>
            <u><%= link_to organisation.name, organisation %></u><br/>
            <%= smart_truncate(organisation.description) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div style="width:50%;float:left">
  <%= link_to_if(current_user.try(:superadmin?), 'Add Organisation',
                 new_organisation_path){} %>
</div>

<% render partial: 'shared/map_scripts', locals: {markers: @markers} %>

<% render 'shared/map_legend_script' %>
