---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": "Third Floor, Premier House", "address_2":
        "1 Canning Road", "availability": {"friday": [true, true, false], "monday":
        [true, true, false], "saturday": [false, false, false], "sunday": [false,
        false, false], "thursday": [true, true, false], "tuesday": [true, true, false],
        "wednesday": [true, true, false]}, "city": "Wealdstone", "county": "Middlesex",
        "created": "2016-05-24T13:23:27.942884+00:00", "description": "To help raise
        funds for Age UK Harrow.  To identify ways of raising funds and to take action
        to help secure this funding by talking to companies on the telephone, internet
        research and by visiting schools and colleges.\n\nTo help organise fundraising
        events\nTo help with general fundraising opportunities", "for_recruiter":
        {"active_opportunities_count": 1, "address_1": "3rd Floor Premier House",
        "address_2": "1 Canning Road", "application_via_url": false, "banner": [{"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/2014-09-22
        Age UK logo.1170x391.jpg", "height": 391, "width": 1170}, {"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/2014-09-22
        Age UK logo.768x391.jpg", "height": 391, "width": 768}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/2014-09-22
        Age UK logo.320x391.jpg", "height": 391, "width": 320}], "blurb": "Age UK
        Harrow (formerly known as Age Concern Harrow) is an independent charity which
        exists to serve the interests of all older citizens of the London Borough
        of Harrow, from all walks of life and ethnic communities. It provides a wide
        range of services, from information about an extensive breadth of issues of
        interest to older people, to volunteering opportunities and support for those
        who are housebound and isolated.\n\nIn addition we support the development
        of quality services for older people in Harrow and work in partnership with
        other voluntary sector organisations, the local authority and local health
        services on all matters relevant to older residents of Harrow.\n\nAge UK Harrow
        is responsible for its own funds and has its own Board of Trustees. The Board
        of Trustees oversee the strategic management of the organisation.\n\nAge UK
        Harrow is a local partner of Age UK, and draws on the expertise of Age UK
        which campaigns on a national basis on behalf of older people and Age UK London
        which campaigns on a regional basis on behalf of older people. Age UK Harrow
        is a registered charity and a company limited by guarantee.", "charity": false,
        "city": "Wealdstone", "contact_name": "Lena Hanen", "created": "2014-10-28T12:24:57.282302+00:00",
        "doit_approved": false, "email": "lhanen@ageukharrow.org.uk", "facebook":
        "https://www.facebook.com/ageukharrow/", "id": "072be9c2-e4c5-4ae4-aefd-ea2868567fba",
        "instagram": null, "is_user_subscribed": false, "is_volunteer_center": false,
        "lat": 51.5942, "links": [{"href": "/v2/orgs/age-uk-harrow", "title": "Age
        UK Harrow Profile"}], "lng": -0.3348, "logo": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/2015-01-12
        Age UK Logo facebook.125x125.jpeg", "height": 125, "width": 125}, {"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/2015-01-12
        Age UK Logo facebook.109x109.jpeg", "height": 109, "width": 109}, {"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/2015-01-12
        Age UK Logo facebook.76x76.jpeg", "height": 76, "width": 76}, {"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/2015-01-12
        Age UK Logo facebook.50x50.jpeg", "height": 50, "width": 50}], "name": "Age
        UK Harrow", "permissions": null, "phone": "020 8861 7980", "postcode": "HA3
        7TS", "rating": "0.00", "rating_count": 0, "slug": "age-uk-harrow", "source":
        "doittrust", "subscriber_count": 2, "twitter": "https://twitter.com/Ageukharrow",
        "website": "http://www.ageuk.org.uk/harrow"}, "for_recruiter_id": "072be9c2-e4c5-4ae4-aefd-ea2868567fba",
        "id": "1b576407-4863-4dd9-bf50-b008a383c0f3", "interests": [{"children": [],
        "created": "2014-10-26T17:24:26.260228+00:00", "id": "3fd515b4-6e1a-41a1-bad9-ea401937555b",
        "name": "Older people", "parent_id": "56fabd4e-bac3-484f-9f55-448445f83481",
        "slug": "older-people", "updated": "2014-10-26T17:24:26.260247+00:00"}, {"children":
        [], "created": "2014-10-26T17:24:26.047188+00:00", "id": "ef94a8bb-eb86-494e-bb0c-44653280dd89",
        "name": "Public events", "parent_id": "70f2af2b-333b-4c66-bfdd-1dd46a89e3f7",
        "slug": "public-events", "updated": "2016-06-17T14:49:21.642497+00:00"}, {"children":
        [], "created": "2014-10-26T17:24:26.142866+00:00", "id": "6fc9bb15-1728-4d4d-bdab-51be247acba0",
        "name": "Social care", "parent_id": "24620d05-41c1-4884-a0cb-f70054faba9b",
        "slug": "social-care", "updated": "2014-10-26T17:24:26.142886+00:00"}, {"children":
        [], "created": "2014-10-26T17:24:26.146376+00:00", "id": "484cccef-29f7-463f-97e0-385657bc58da",
        "name": "Disability", "parent_id": "24620d05-41c1-4884-a0cb-f70054faba9b",
        "slug": "disability", "updated": "2014-10-26T17:24:26.146396+00:00"}], "is_new":
        false, "lat": 51.5943, "lng": -0.334769, "local_authority": {"id": "0561a78f-83e1-47fa-ae4c-07a9cf7390d3",
        "name": "Harrow London Borough", "slug": "harrow-london-borough"}, "location_id":
        null, "location_name": null, "location_type": "SL", "locations": [{"address_1":
        "Third Floor, Premier House", "address_2": "1 Canning Road", "city": "Wealdstone",
        "county": "Middlesex", "id": "1b576407-4863-4dd9-bf50-b008a383c0f3", "lat":
        51.5943, "lng": -0.334769, "local_authority": {"id": "0561a78f-83e1-47fa-ae4c-07a9cf7390d3",
        "name": "Harrow London Borough", "slug": "harrow-london-borough"}, "location":
        null, "location_id": null, "location_name": null, "location_type": "SL", "places_available":
        10, "postcode": "HA3 7TS", "rating": "0.00", "rating_count": 0, "working_from_home":
        false}], "micro_availability": [], "owner_recruiter": {"active_opportunities_count":
        1, "address_1": "3rd Floor Premier House", "address_2": "1 Canning Road",
        "application_via_url": false, "banner": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/2014-09-22
        Age UK logo.1170x391.jpg", "height": 391, "width": 1170}, {"absolute_url":
        "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/2014-09-22
        Age UK logo.768x391.jpg", "height": 391, "width": 768}, {"absolute_ur[...]
