---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"address_1":"The Wealdstone Centre","address_2":"38
        - 40 High Street","availability":{"friday":[false,false,false],"monday":[false,false,false],"saturday":[false,false,false],"sunday":[false,false,false],"thursday":[false,false,false],"tuesday":[false,false,false],"wednesday":[false,false,false]},"city":"Wealdstone","county":"Harrow","created":"2018-06-26T16:38:13.056468+00:00","description":"By Volunteering to work with scouts, you will be responsible, along with the other leaders, helpers and members for planning and running the weekly ...\n\nWe are looking to recruit a Reception Volunteer who is able
        to answer a telephone call, meet and greet visitors (members of the public),
        staff and delivery people such as postman and parcel force. \n\n\u021a\u0127\u012f\u0219
        \u01ffpp\u01ff\u0159\u021b\u0173\u0148\u012f\u021b\u1ef3 \u0127\u01fb\u0219
        b\u011b\u011b\u0148 p\u01ff\u0219\u021b\u011b\u0111 b\u1ef3 V\u01ff\u0140\u0173\u0148\u021b\u01fb\u0159\u1ef3
        \u01fa\u010d\u021b\u012f\u01ff\u0148 \u0126\u01fb\u0159\u0159\u01ff\u1e85
        \u010c\u01ff-\u01ffp\u011b\u0159\u01fb\u021b\u012fv\u011b, \u01ff\u0148 b\u011b\u0127\u01fb\u0140f
        \u01fff \u021b\u0127\u011b Harrow Association Of Disabled People. Upon registering
        your interest, your details will be shared with the organisation.","for_recruiter":{"active_opportunities_count":11,"address_1":"The
        Lodge","address_2":"64 Pinner Road","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.320x391.jpg","height":391,"width":320}],"blurb":"Help
        Out Harrow promotes and brokers volunteer opportunities for a variety of Harrow
        charities and voluntary groups.","charity":false,"city":"Harrow","contact_name":"Volunteering
        Team","created":"2016-01-11T16:55:34.106821+00:00","doit_approved":false,"donation_page":null,"email":"volunteering@voluntaryactionharrow.org.uk","facebook":"https://www.facebook.com/VAHCoop","id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","instagram":null,"is_user_subscribed":false,"is_volunteer_center":false,"lat":51.5815,"links":[{"href":"/v2/orgs/greater-london-region","title":"Help
        Out Harrow! Profile"}],"lng":-0.345092,"logo":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.125x125.jpg","height":125,"width":125},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.109x109.jpg","height":109,"width":109},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.76x76.jpg","height":76,"width":76},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.50x50.jpg","height":50,"width":50}],"name":"Scouts - Scout Association - Greater London Region","permissions":null,"phone":"020 8861 5894","postcode":"HA1 4HZ","rating":"2.00","rating_count":2,"slug":"greater-london-region","source":"doittrust","subscriber_count":11,"twitter":"https://twitter.com/VAHcoop","website":"http://www.voluntaryactionharrow.org.uk/volunteering-opportunities/"},"for_recruiter_id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","id":"79ae1022-9059-40c0-82dd-3f5b15dd796a","interests":[{"children":[],"created":"2014-10-26T17:24:26.146376+00:00","id":"484cccef-29f7-463f-97e0-385657bc58da","name":"Disability","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"disability","updated":"2014-10-26T17:24:26.146396+00:00"}],"is_new":false,"is_updated":false,"lat":51.5943,"lng":-0.334769,"local_authority":{"id":"0561a78f-83e1-47fa-ae4c-07a9cf7390d3","name":"Harrow
        London Borough","slug":"harrow-london-borough"},"location_id":null,"location_name":null,"location_type":"SL","locations":[{"address_1":"The
        Wealdstone Centre","address_2":"38 - 40 High Street","city":"Wealdstone","county":"Harrow","geom":"010100000066bcadf4da6cd5bfa301bc0512cc4940","id":"79ae1022-9059-40c0-82dd-3f5b15dd796a","lat":51.5943,"lng":-0.334769,"local_authority":{"id":"0561a78f-83e1-47fa-ae4c-07a9cf7390d3","name":"Harrow
        London Borough","slug":"harrow-london-borough"},"location":null,"location_id":null,"location_name":null,"location_type":"SL","places_available":3,"postcode":"HA3
        7AE","rating":"0.00","rating_count":0,"working_from_home":false}],"micro_availability":[],"owner_recruiter":{"active_opportunities_count":11,"address_1":"The
        Lodge","address_2":"64 Pinner Road","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaw[...]
