---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Station%20Rd,%20HA8%207BD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Station Road",
                       "short_name" : "Station Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Edgware",
                       "short_name" : "Edgware",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Edgware",
                       "short_name" : "Edgware",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA8 7BD",
                       "short_name" : "HA8 7BD",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Station Rd, Edgware, Greater London HA8 7BD, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6134049,
                          "lng" : -0.2742465000000001
                       },
                       "southwest" : {
                          "lat" : 51.6113076,
                          "lng" : -0.2768678
                       }
                    },
                    "location" : {
                       "lat" : 51.61293620000001,
                       "lng" : -0.2768678
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6137052302915,
                          "lng" : -0.274208169708498
                       },
                       "southwest" : {
                          "lat" : 51.6110072697085,
                          "lng" : -0.2769061302915021
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJa22KIKQWdkgR9R1b18_XLD8",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 29 Jun 2016 19:22:29 GMT
recorded_with: VCR 2.9.3
