  <div class="table table-bordered table-hover">
    <table>
       <thead>
          <tr>
            <th>User Email</th>
            <th>Organization</th>
            <th>Pending Organization</th>
            <th> </th>
          </tr>
        </thead>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.organization.name if user.organization %></td>
          <td><%= user.pending_organization.name if user.pending_organization %></td>
          <td><%= link_to('Approve', update_user_path(user.id), :method => :put) if user.pending_organization %></td>
        </tr>
      <% end %>
    </table>
  </div>

