<% content_for :legend do %>
    <aside>
      <table class='table'>
        <tr>
          <td class='key_image'><%= image_tag('volunteer_icon_doit.png', size:'20x20', alt:'Volunteer opportunities from do-it.org') %></td>
          <td class='key_text'>Volunteer opportunities from Do-it directory</td>
        </tr>
        <tr>
          <td class='key_image'><%= image_tag('volunteer_icon_local.png', size:'20x20', alt:'Volunteer opportunities from Harrow Community Network') %></td>
          <td class='key_text'>Volunteer opportunities from Harrow Community Network directory</td>
        </tr>
      </table>
    </aside>
<% end %>
