<% content_for :legend do %>
    <aside>
      <table class='table'>
        <tr>
          <td style='background-color: #DE9E95;'></td>
          <td class='key_text'>&nbsp;&nbsp;Kensington and Chelsea PCN North</td>
          <td style='background-color: #E6E4A7;'></td>
          <td class='key_text'>&nbsp;&nbsp;EoI not received</td>
        </tr>
        <tr>
          <td style='background-color: #9380B7;'></td>
          <td class='key_text'>&nbsp;&nbsp;NeoHealth PCN</td>
          <td style='background-color: #A9CE9C;'></td>
          <td class='key_text'>&nbsp;&nbsp;South PCN</td>
        </tr>
        <tr>
          <td style='background-color: #CB6EB1;'></td>
          <td class='key_text'>&nbsp;&nbsp;North PCN</td>
          <td style='background-color: #93B0C5;'></td>
          <td class='key_text'>&nbsp;&nbsp;Kensington and Chelsea PCN</td>
        </tr>
      </table>
    </aside>
<% end %>
