<div class="event-item">
    <div class="event-title"><u><%= link_to event.title, "#", class: "event-link" %></u></div>
    <div class="event-start-date">
      Start: <%= event.start_date.strftime("%A, %b %d, %Y at %H:%M") %>
    </div>
    <div class="event-end-date">
      End: <%= event.end_date.strftime("%A, %b %d, %Y at %H:%M") %>
    </div>
  <div class="event-description"><%= event.description %></div>
</div>
<hr />
