<div class="upcoming-events-header">
  <h1 class="upcoming-events-header-text" title="Upcoming Events">Upcoming events</h1>
</p>
<div class="col-md-12 events-container">
  <%= render @events %>
</div>
