<div class="upcoming-events-header">
    <h1 class="upcoming-events-header-text" title="Upcoming Events">Upcoming events</h1>
    </p>
</div>
<div class="events_scroll">
    <div class="col-md-12 events-container">
        <%= render @events %>
    </div>
</div>
<%= render partial: 'shared/map_scripts', locals: {markers: @markers} %>

