<%= simple_format( @mail_template.body ) %>

<br><p>To view and update your organisation's information please accept the invitation below.
  This will then enable you to update your organisation's directory entry.  <br>
  <%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.raw_invitation_token) %>
</p><br>

<%= simple_format( @mail_template.footnote ) %>
