<% content_for :title do %>404 Page Not Found<% end %>
<% #TODO: refactor this for Bootstrap framework %>
<section id="about">
  <h3>Page not found</h3>
  <p>We're sorry, but we couldn't find the page you requested</p>

  <small>Server cannot find the file you requested.
    File has either been moved or deleted,
    or you entered the wrong URL or document name.
    Look at the URL. If a word looks misspelled, then correct it and try it again.
    If that doesn't work backtrack by deleting information between each backslash,
    until you come to a page on that site that isn't a 404.
    From there you may be able to find the page you're looking for.</small>
</section>