<strong><h2>About Us</h2></strong>
<strong><h3>Supporting groups in Harrow</h3></strong>
We are a not-for-profit workers co-operative who support people and not-for-profit organisations to make a difference in their local community by:
<ol>
 <li>Working with local people and groups to identify local needs and develop appropriate action.</li>
 <li>Providing a range of services that help organisations to succeed.</li>
 <li>Supporting and encouraging the growth of co-operative movement.</li>
</ol>

<strong><h3>How do we support?</h3></strong> Find out <a href='http://www.voluntaryactionharrow.org.uk/vah-in-a-nutshell'>here (VAH in a nutshell)</a>

<strong><h3>What is a Workers Co-operative?</h3></strong> A workers co-operative is a business owned and democratically controlled by their employee members using co-operative principles. They are an attractive and increasingly relevant alternative to traditional investor owned models of enterprise.<a href='http://www.uk.coop/sites/default/files/worker_co-operative_code_2nd_edition.pdf'> (Click here for more details)</a>
