<strong><h2 class="text-left">Contact Info</h2></strong>
</dl>
<ul style="list-style: none;">
 <li><strong>Email us:</strong>&nbsp;<a href="mailto:contact@voluntaryactionharrow.org.uk">contact@voluntaryactionharrow.org.uk</a></li>
 <br>
 <li><strong>Phone Us:</strong>&nbsp;020 8861 5894</li>
 <br>
 <li><strong>Write to Us:</strong>&nbsp;The Lodge, 64 Pinner Road, Harrow, Middlesex, HA1 4HZ</li>
 <br>
 <li><strong>Find Us:</strong>&nbsp;On <a href='http://www.voluntaryactionharrow.org.uk/social-circles/'> Social Media (Click Here)</a></li>
</ul>
