<strong><h2><%= @page.name 'Disclaimer' %></h2></strong>
<h4>Whilst Voluntary Action Harrow has made effort to ensure the information here is accurate and up to date we are reliant on the information provided by the different organisations. No guarantees for the accuracy of the information is made.</h4>
