<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Admin, </p>

    <p>A user has requested admin status for <%= @org_name %>  
     You can approve this request by visiting the link below.</p>

    <p><%= link_to 'Users awaiting charity admin status', users_path %> 
  </body>
</html>`
