---
http_interactions:
- request:
    method: get
    uri: http://production.charity-api.agileventures.org/charities.json?postcode=ha2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27b5c0ec5fb9f2fc2058f66e75caa34f"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3,"regno":"200002","subno":0,"name":"THE ROYAL OPERA HOUSE BENEVOLENT
        FUND ","orgtype":"R","gd":"DECLARATION OF TRUST DATED 24TH MAY 1961 AS VARIED
        12TH MAY 1983 AND 16TH OCTOBER 2001;","aob":"NATIONAL","aob_defined":null,"nhs":"F","ha_no":null,"corr":"MRS
        CHENG LOO","add1":"133 Exeter Road","add2":"Harrow","add3":null,"add4":null,"add5":null,"postcode":"HA2
        9PG","phone":"020 72129128 ","fax":null,"lon":null,"lat":null,"created_at":"2017-11-20T17:53:02.000Z","updated_at":"2017-11-20T17:53:02.000Z","url":"http://production.charity-api.agileventures.org/charities/3.json"},{"id":9120,"regno":"206585","subno":0,"name":"THE
        CHARLES GARDNER MEMORIAL FUND ","orgtype":"R","gd":"DECLARATION OF TRUST DATED
        THE 21ST NOVEMBER 1921 AND CONVEYANCE DATED THE 15TH MARCH 1923;","aob":"ROXETH
        AND HARROW","aob_defined":null,"nhs":"F","ha_no":null,"corr":"MRS HELEN JACKSON","add1":"C/O
        CHRIST CHURCH VICARAGE ","add2":"ROXETH HILL ","add3":"HARROW ","add4":null,"add5":null,"postcode"[...]
- request:
    method: get
    uri: http://production.charity-api.agileventures.org/charities.json?postcode=HA2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27b5c0ec5fb9f2fc2058f66e75caa34f"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3,"regno":"200002","subno":0,"name":"THE ROYAL OPERA HOUSE BENEVOLENT
      [...]
