---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Station%20Rd,%20HA8%207BD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Station Road",
                       "short_name" : "Station Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Edgware",
                       "short_name" : "Edgware",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA8",
                       "short_name" : "HA8",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    }
                 ],
                 "formatted_address" : "Station Rd, Edgware HA8, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6159499,
                          "lng" : -0.2752235
                       },
                       "southwest" : {
                          "lat" : 51.6106752,
                          "lng" : -0.2796238
                       }
                    },
                    "location" : {
                       "lat" : 0,
                       "lng" : 0
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6159499,
                          "lng" : -0.2752235
                       },
                       "southwest" : {
                          "lat" : 51.6106752,
                          "lng" : -0.2796238
                       }
                    }
                 },
                 "place_id" : "EhtTdGF0aW9uIFJkLCBFZGd3YXJlIEhBOCwgVUsiSCpGChQKEglrbYogpBZ2SBH1HVvXz9csPxIUChIJP4eAOKQWdkgRRCEM3w9t_TMaGAoKDQAqwx4VMlXV_xIKDQv4wx4VFQHW_w",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 18 Sep 2018 21:08:43 GMT
[...]
