---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Station%20Rd,%20HA8%207BD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Fri, 09 Mar 2018 09:16:36 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Station%20Rd,%20HA8%207BD&key=AIzaSyArzI3TTlO1bbrDTmUnbTOnqcfC2oITR3Q&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Station Road",
                       "short_name" : "Station Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Edgware",
                       "short_name" : "Edgware",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA8",
                       "short_name" : "HA8",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    }
                 ],
                 "formatted_address" : "Station Rd, Edgware HA8, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.6159499,
                          "lng" : -0.2752235
                       },
                       "southwest" : {
                          "lat" : 51.6106752,
                          "lng" : -0.2796238
                       }
                    },
                    "location" : {
                       "lat" : 51.61293620000001,
                       "lng" : -0.2768678
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6159499,
                          "lng" : -0.2752235
                       },
                       "southwest" : {
                          "lat" : 51.6106752,
                          "lng" : -0.2796238
                       }
                    }
                 },
                 "place_id" : "EhdTdGF0aW9uIFJkLCBFZGd3YXJlLCBVSyIuKiwKFAoSCWttiiCkFnZIEfUdW9fP1yw_EhQKEgk_h4A4pBZ2SBFEIQzfD239Mw",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 24 May 2019 13:23:33 GMT
[...]
