---
http_interactions:
- request:
    method: get
    uri: http://api.qa2.do-it.org/v2/users/current/orgs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - eyJhbGciOiJIUzI1NiIsImV4cCI6MTQ4NDczNzM5NywiaWF0IjoxNDg0NzMzNzk3fQ.eyJyYW5kIjowLjY3NTc5MzE3MTcwMDMwMTMsImlkIjoiOWQwOTMwNGMtZWU0ZC00NDdkLWI1MDMtNzJiYjUxODU3ZWJjIn0.Sae0GnTffIKxDHI0PXdKT6HFigaQXGPNEvXr8oxVEgk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"items\": [\n      {\n        \"agree_terms\":
        false, \n        \"application_via_url\": false, \n        \"contact_name\":
        \"Volunteering Team\", \n        \"created\": \"2016-01-11T16:55:34.106821+00:00\",
        \n        \"email\": \"volunteering@voluntaryactionharrow.org.uk\", \n        \"id\":
        \"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d\", \n        \"is_volunteer_center\":
        false, \n        \"local_authority\": {\n          \"id\": \"0561a78f-83e1-47fa-ae4c-07a9cf7390d3\",
        \n          \"name\": \"Harrow London Borough\", \n          \"slug\": \"harrow-london-borough\"\n
        \       }, \n        \"logo\": [\n          {\n            \"absolute_url\":
        \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.125x125.jpg\",
        \n            \"height\": 125, \n            \"width\": 125\n          },
        \n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.109x109.jpg\",
        \n            \"height\": 109, \n            \"width\": 109\n          },
        \n          {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.76x76.jpg\",
        \n            \"height\": 76, \n            \"width\": 76\n          }, \n
        \         {\n            \"absolute_url\": \"https://s3-eu-west-1.amazonaws.com/qa.media.doit.soon.build/orgs/logos/LT8GnLA__400x400.50x50.jpg\",
        \n            \"height\": 50, \n            \"width\": 50\n          }\n        ],
        \n        \"name\": \"Help Out Harrow!\", \n        \"phone\": \"020 8861
        5894\", \n        \"rating\": \"2.00\", \n        \"slug\": \"help-out-harrow\",
        \n        \"source\": \"doittrust\"\n      }, \n      {\n        \"agree_terms\":
        false, \n        \"application_via_url\": false, \n        \"contact_name\":
        \"#PopUpHarrow Team\", \n        \"created\": \"2015-02-02T14:23:45.364637+00:00\",
        \n        \"email\": \"volunteering@voluntaryactionharrow.org.uk\", \n        \"id\":
        \"88a8d84b-0fd6-42f6-a6f7-753d41700353\", \n        \"is_volunteer_center\":
        false, \n        \"local_authority\": {\n          \"id\": \"0561a78f-83e1-[...]
- request:
    method: get
    uri: http://api.qa2.do-it.org/v2/users/current/orgs?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - eyJhbGciOiJIUzI1NiIsImV4cCI6MTQ4NDczNzM5NywiaWF0IjoxNDg0NzMzNzk3fQ.eyJyYW5kIjowLjY3NTc5MzE3MTcwMDMwMTMsImlkIjoiOWQwOTMwNGMtZWU0ZC00NDdkLWI1MDMtNzJiYjUxODU3ZWJjIn0.Sae0GnTffIKxDHI0PXdKT6HFigaQXGPNEvXr8oxVEgk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {\n    \"items\": []\n  }, \n  \"links\": {\n    \"prev\":
        {\n      \"href\": \"/v2/users/current/orgs?page=1\", \n      \"title\": \"Previous
        Page\"\n    }, \n    \"self\": {\n      \"href\": \"/v2/users/current/orgs\",
        \n      \"title\": \"You are here.\"\n    }\n  }, \n  \"meta\": {\n    \"code\":
        200, \n    \"current_page\": 2, \n    \"items_per_page\": 20, \n    \"routes\":
        {\n      \"/v2/users/current\": {\n        \"description\": \"Returns the
        currently logged in user or Unauthorized.\", \n        \"methods\": [\n          \"HEAD\",
        \n          \"OPTIONS\", \n          \"GET\"\n        ]\n      }, \n      \"/v2/users/current/applications\":
        {\n        \"description\": \"All of a users applications and only applicable
        to the currently logged in user.\", \n        \"methods\": [\n          \"HEAD\",
        \n          \"OPTIONS\", \n          \"GET\"\n        ]\n      }, \n      \"/v2/users/current/exports/<id>\":
        {\n        \"description\": \"Download Exports from the Recruiter Admin System.\",
        \n        \"methods\": [\n          \"HEAD\", \n          \"OPTIONS\", \n
        \         \"GET\"\n        ]\n      }, \n      \"/v2/users/current/orgs\":
        {\n        \"description\": \"Returns a list of recruiters this user has memberships
        for. This can also be search against by the recrutier name.\", \n        \"methods\":
        [\n          \"HEAD\", \n          \"OPTIONS\", \n          \"GET\"\n        ]\n
        \     }\n    }, \n    \"sort_by\": [\n      \"name\", \n      \"created\",
        \n      \"active_opportunities_count\"\n    ], \n    \"tenant\": \"doittrust\",
        \n    \"total_items\": 4, \n    \"total_pages\": 1, \n    \"version\": \"2016.11.24.0\"\n
        \ }\n}\n"
  recorded_at: Sun, 28 May 2017 14:57:45 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Station%20Rd,%20HA8%207BD&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Station Road",
                       "short_name" : "Station Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA8 7BD",
                       "short_name" : "HA8 7BD",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Station Rd, London HA8 7BD, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.61241589999999,
                       "lng" : -0.2752893
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.6137648802915,
                          "lng" : -0.273940319708498
                       },
                       "southwest" : {
                          "lat" : 51.6110669197085,
                          "lng" : -0.2766382802915021
                       }
                    }
                 },
                 "place_id" : "ChIJX9O7sqUWdkgR3w_9OmvWkBA",
                 "types" : [ "establishment", "point_of_interest", "shopping_mall" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 28 May 2017 14:57:46 GMT
[...]
