---
http_interactions:
- request:
    method: get
    uri: http://api.qa2.do-it.org/v2/users/current/orgs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - dummy_token
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": {}, \n  \"links\": {\n    \"self\": {\n      \"href\":
        \"/v2/users/current/orgs\", \n      \"title\": \"You are here.\"\n    }\n
        \ }, \n  \"meta\": {\n    \"code\": 401, \n    \"error_message\": \"Unauthorized.
        Requested: /v2/users/current/orgs\", \n    \"error_type\": \"Unauthorized\",
        \n    \"tenant\": \"doittrust\", \n    \"version\": \"2016.11.24.0\"\n  }\n}\n"
  recorded_at: Wed, 26 Sep 2018 14:52:48 GMT
recorded_with: VCR 4.0.0
