<button class='close infowindow_close' type='button'>×</button>
<div class="long-vol-op">
  <% vol_ops.each do |volop| %>
    <% if volop.source == 'local' %>
      <%= render partial: 'volunteer_ops/popup/vol_local', locals: {volop: volop} %>
    <% elsif volop.source == 'doit' %>
      <%= render partial: 'volunteer_ops/popup/vol_doit', locals: {volop: volop} %>
    <% end %>
  <hr>
<% end %>
</div>
