<li>
  <%= link_to_vol_op( volop, :organisation, tyle: 'font-weight: 100' ) %></br>
  <%= link_to_vol_op( volop, :title, style: 'font-weight: 900' ) %><br>
  <%= smart_truncate( volop.description,44 ) %><br>
</li>
