<button class='close infowindow_close' type='button'>×</button>
<%= link_to volop.organisation.name, volop.organisation, :style => "font-weight: 100" %></strong></br>
<ul>
<% VolunteerOp.where(organisation_id: volop.organisation.id).each do |op| %>
  <li>
    <%= link_to op.title, op, :style => "font-weight: 900" %></br>
    <%= smart_truncate(op.description,44) %></br>
  </li>
  <% end %>
  </ul>
</div>
