<% render partial: 'shared/map_scripts', locals: {markers: @markers} %>

<div class="map_container" style="position:fixed; top:0; left:0; bottom:0; right:0; overflow: hidden; border:none; margin:0;">
  <%= yield :map %>
  <div id="map-canvas" style="height:100%; width=100%;"></div>
</div>