<br>
<div id="orgs_scroll" style="height:410px;width:100%;border:1px solid #ccc;overflow:scroll;">
  <div class="table table-bordered">

  </div>
</div>
<% render partial: 'shared/map_scripts', locals: {markers: @markers, markers2: @markers2} %>
