  <div id="orgs_scroll" style="height:340px;width:100%;border:1px solid #ccc;overflow:scroll;">
    <div class="table table-bordered">
      <table>
        <div id="volunteer_ops">
            <% @volunteer_ops.each do |volunteer_op| %>
            <tr>
              <td>
                <u><%= link_to volunteer_op.title, volunteer_op %></u><br/>
                <%= smart_truncate(volunteer_op.description) %>
              </td>
            </tr>
          <% end %>
        </div>
      </table>
    </div>
  </div>
</table>
</div>
</div>
