<h3>Create a new Volunteer Opportunity</h3>
<h4>(This functionality is not yet live, but will be soon!)</h4>
<%= render partial: 'form', locals: {submission_url: volunteer_ops_path(org_id: current_user.organisation.id)} %>
