<div class="row">
  <h3>
    <%= @volunteer_op.title %>
  </h3>

  <p>
    <%= auto_link @volunteer_op.description %>
  </p>

  <p>
    <b>Organisation:</b>
    <%= link_to @volunteer_op.organisation.name, organisation_path(@volunteer_op.organisation.id) %>
  </p>
  <% if @editable %>
      <%= link_to("Edit", edit_volunteer_op_path(@volunteer_op.id), {:class => 'btn btn-primary'}) %>
  <% end %>
<% render partial: 'shared/map_scripts', locals: {json: @json} %>
</div>
