<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @volunteer_op.title %>
</p>

<p>
  <b>Description:</b>
  <%= @volunteer_op.description %>
</p>

<p>
  <b>Organization:</b>
  <%= @volunteer_op.organization.name %>
</p>
