<div class="row">
  <h3>
    <%= @volunteer_op.title %>
  </h3>

  <p>
    <%= @volunteer_op.description %>
  </p>

  <p>
    <b>Organisation:</b>
    <%= @volunteer_op.organization.name %>
  </p>

</div>
