<div class="row">
  <h3>
    <%= @volunteer_op.title %>
  </h3>

  <p>
    <%= auto_link @volunteer_op.description %>
  </p>

  <p>
    <b>Organisation:</b>
    <%= link_to @volunteer_op.organization.name, organization_path(@volunteer_op.organization.id) %>
  </p>

</div>
