// Color style guide:
//   * Never hard-code colors, always use a variable

$black:               #151514;
$white:               #ffffff;

// greens
$primary-green:       #186bb7;
$bootstrap-green:     #f2dede;

// reds
$bootstrap-red:       #dff0d8;
$error-red:           #b94a48;

// greys
$grey-40:             #899096;
