---
http_interactions:
- request:
    method: get
    uri: https://www.kcsc.org.uk/api/self-care/all?key=<KCSC_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Drupal-Cache:
      - MISS
      Etag:
      - '"1557333836-1"'
      Last-Modified:
      - Wed, 08 May 2019 16:43:56 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"organisations":[{"organisation":{"Contact ID":"85344","Display Name":"Acquired
        Brain Injury (ABI)","Service Activities":"Attend ABI is a service designed
        to support adults who have an acquired and non-progressive brain injury. It
        aims to support individuals and their carers to build confidence particularly
        through the development of new experiences and networks. The service is aimed
        at clients who have substantially completed their medical rehabilitation but
        who do not feel ready, or need additional support, to engage meaningfully
        with their local community.\n","OfficeMain-Phone-General Phone":"0845 450
        0285","OfficeMain-Email":"","Website":"http://www.attend.org.uk/projects/abi","Delivered
        by-Organization Name":"Acquired Brain Injury (ABI)","Where we work":"Kensington
        & Chelsea, Westminster, Hammersmith & Fulham","Self Care One to One or Group":"Group","Self
        care service category":"Brain Injury","Self Care Category Secondary":"Carers","Self
        care service agreed":"Self care service","Created Date":"","Modified date":"Thu,
        07/02/2019 - 3:55pm","Group(s)":"self care directory","Activity Type":""[...]
- request:
    method: get
    uri: https://www.kcsc.org.uk/api/self-care/addresses/all?key=<KCSC_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Drupal-Cache:
      - HIT
      Etag:
      - '"1557333682-1"'
      Last-Modified:
      - Wed, 08 May 2019 16:41:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"address":{"Contact ID":"85344","Display Name":"Acquired
        Brain Injury (ABI)","Location Type":"OfficeMain","Street Address":"","Street
        Number":"","Street Number Suffix":"","Street Name":"","Street Unit":"","Supplemental
        Address 1":"","Supplemental Address 2":"","Supplemental Address 3":"","city":"","postal_code":"W1G
        0AN","Latitude":"","Longitude":"","Address Name":"","County":"","Country":""}},{"address":{"Contact
        ID":"1344","Display Name":"Action Disability Kensington & Chelsea","Location
        Type":"OfficeMain","Street Address":"The ADKC Centre","Street Number":"","Street
        Number Suffix":"","Street Name":"The ADKC Centre","Street Unit":"","Supplemental
        Address 1":"Whistable House","Supplemental Address 2":"Silchester Road","Supplemental
        Address 3":"","city":"London","postal_code":"W10 6SB","Latitude":"51.515308","Longitude":"-0.216838","Address[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20W10%205XL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "W10 5XL",
                       "short_name" : "W10 5XL",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Thorpe Close",
                       "short_name" : "Thorpe Cl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Thorpe Cl, London W10 5XL, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.51862449999999,
                          "lng" : -0.2080098
                       },
                       "southwest" : {
                          "lat" : 51.5178945,
                          "lng" : -0.2093881
                       }
                    },
                    "location" : {
                       "lat" : 51.5183542,
                       "lng" : -0.208777
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5196084802915,
                          "lng" : -0.207349969708498
                       },
                       "southwest" : {
                          "lat" : 51.5169105197085,
                          "lng" : -0.210047930291502
                       }
                    }
                 },
                 "place_id" : "ChIJ6b6pDx8QdkgRwFSh5Je-3_Q",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 08 May 2019 16:44:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W1G%200AN&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=The%20Annexe%20,%20W8%206PW&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_componen[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Chelsea%20Sports%20Centre%20London,%20SW3%205PL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
              [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=St%20Charles%20Centre%20for%20Health%20%26%20Wellbeing,%20Exmoor%20St%20London,%20W10%206DZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W11%201RG&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%205PA&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=WC1H%209NE&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%206EJ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=43-44%20Crutched%20Friars%20London,%20EC3N%202AE&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
             [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W6%200QL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=SW1Y%205AH&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%206EZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Unit%2024,%2010%20Acklam%20Road%20London,%20W10%205QZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=UB7%207BQ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=30%20Clapham%20Common%20North%20Side%20London,%20SW4%200RN&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=7%20Thorpe%20Close%20London,%20W10%205XL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "add[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W8%206TG&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=136%20Shepherds%20Bush%20Road%20London,%20W6%207PB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%205XL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=c/o%20Chair%20Tessa%20Jelen%20London,%20SW1V4RS&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
              [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=The%20Town%20Hall%20London,%20W8%207NX&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addre[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Westminster%20City%20Hall%20London,%20SW1E%206QP&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
             [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Studios%203%20%26%204%20London,%20W11%203EP&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Key%20House%20,%20UB7%207BQ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_componen[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%206DZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Basement%20London,%20W1D%205PB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_compo[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=29-30%20Soho%20Square%20London,%20W1D%203QS&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=21a%20Conduit%20Place%20London,%20W2%201HS&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "a[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%205YG&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W2%205EU&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%205QB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=57%20Portobello%20Road%20London,%20W11%203DB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=SW1W%209LX&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W10%206TT&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=NW1W%207QL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 27 May 2019 09:53:21 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=111-117%20Lancaster%20Road%20London,%20W11%201QT&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
             [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W6%207PB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Lyric%20Hammersmith%20,%20W6%200QL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_c[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=The%20ADKC%20Centre,%20Whitstable%20House,%20Silchester%20Road%20London,%20W10%206SB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "result[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=SW10%200JN&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Beethoven%20Centre%20London,%20W10%204JL&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "add[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=SW4%200RN&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1%20Webb%20Closee,%20Dalgarmo%20Community%20Centre,%20London,%20W10%205QB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
    [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=40-42%20Ebury%20Street%20London,%20SW1W%200LZ&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Saxon%20House%20(2nd%20Floor)%20London,%20E17%204QH&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
          [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1-9%20St%20Mark%27s%20Road%20,%20W11%201RG&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "a[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=The%20Dalgarno%20Trust%20London,%20W10%205QB&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
[...]
