---
http_interactions:
- request:
    method: get
    uri: https://www.kcsc.org.uk/api/self-care/all?key=<KCSC_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Drupal-Cache:
      - MISS
      Etag:
      - '"1558952273-1"'
      Last-Modified:
      - Mon, 27 May 2019 10:17:53 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"organisations":[{"organisation":{"Contact ID":"85344","Display Name":"Acquired
        Brain Injury (ABI)","Service Activities":"Attend ABI is a service designed
        to support adults who have an acquired and non-progressive brain injury. It
        aims to support individuals and their carers to build confidence particularly
        through the development of new experiences and networks. The service is aimed
        at clients who have substantially completed their medical rehabilitation but
        who do not feel ready, or need additional support, to engage meaningfully
        with their local community.\n","OfficeMain-Phone-General Phone":"0845 450
        0285","OfficeMain-Email":"","Website":"http://www.attend.org.uk/projects/abi","Delivered
        by-Organization Name":"Acquired Brain Injury (ABI)","Where we work":"Kensington
        & Chelsea, Westminster, Hammersmith & Fulham","Self Care One to One or Group":"Group","Self
        care service category":"Brain Injury","Self Care Category Secondary":"Carers","Self
        care service agreed":"Self care service","Created Date":"","Modified date":"Thu,
        07/02/2019 - 3:55pm","Group(s)":"self care directory","Activity Type":""[...]
- request:
    method: get
    uri: https://www.kcsc.org.uk/api/self-care/addresses/all?key=<KCSC_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Drupal-Cache:
      - MISS
      Etag:
      - '"1558952273-1"'
      Last-Modified:
      - Mon, 27 May 2019 10:17:53 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"addresses":[{"address":{"Contact ID":"85344","Display Name":"Acquired
        Brain Injury (ABI)","Location Type":"OfficeMain","Street Address":"","Street
        Number":"","Street Number Suffix":"","Street Name":"","Street Unit":"","Supplemental
        Address 1":"","Supplemental Address 2":"","3rd Supplemental Street Address":"","city":"","postal_code":"W1G
        0AN","Latitude":"","Longitude":"","Address Name":"","County":"","Country":""}},{"address":{"Contact
        ID":"1344","Display Name":"Action Disability Kensington & Chelsea","Location
        Type":"OfficeMain","Street Address":"The ADKC Centre","Street Number":"","Street
        Number Suffix":"","Street Name":"The ADKC Centre","Street Unit":"","Supplemental
        Address 1":"Whistable House","Supplemental Address 2":"Silchester Road","3rd
        Supplemental Street Address":"","city":"London","postal_code":"W10 6SB","Latitude":"51.515308","Longitude":"-0.216838"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Town%20Hall%20London,%20W8%207NX&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hornton Street",
                       "short_name" : "Hornton St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Kensington",
                       "short_name" : "Kensington",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "W8 7NX",
                       "short_name" : "W8 7NX",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Hornton St, Kensington, London W8 7NX, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.5023438,
                       "lng" : -0.1952393
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5036927802915,
                          "lng" : -0.193890319708498
                       },
                       "southwest" : {
                          "lat" : 51.5009948197085,
                          "lng" : -0.1965882802915021
                       }
                    }
                 },
                 "place_id" : "ChIJm72_v_APdkgRdXZLicOxUmE",
                 "plus_code" : {
                    "compound_code" : "GR23+WW London, United Kingdom",
                    "global_code" : "9C3XGR23+WW"
                 },
                 "types" : [
                    "city_hall",
                    "establishment",
                    "local_government_office",
                    "point_of_interest"
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 27 May 2019 10:26:09 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=W1G%200AN&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
          [...]
