---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=64%20pinner%20road&key=<GMAP_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "64",
                       "short_name" : "64",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pinner Road",
                       "short_name" : "Pinner Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Harrow",
                       "short_name" : "Harrow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "HA1 4HZ",
                       "short_name" : "HA1 4HZ",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "64 Pinner Rd, Harrow HA1 4HZ, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5814347,
                          "lng" : -0.346706
                       },
                       "southwest" : {
                          "lat" : 51.5813254,
                          "lng" : -0.3469967
                       }
                    },
                    "location" : {
                       "lat" : 51.5813838,
                       "lng" : -0.3468626
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5827290302915,
                          "lng" : -0.345502369708498
                       },
                       "southwest" : {
                          "lat" : 51.5800310697085,
                          "lng" : -0.348200330291502
                       }
                    }
                 },
                 "place_id" : "ChIJjQWua2wTdkgRyc32EN8AgX0",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 17 Nov 2019 18:16:09 GMT
recorded_with: VCR 5.0.0
