---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"address_1":null,"address_2":null,"availability":{"friday":[true,true,true],"monday":[true,true,true],"saturday":[true,true,true],"sunday":[true,true,true],"thursday":[true,true,true],"tuesday":[true,true,true],"wednesday":[true,true,true]},"city":null,"county":null,"created":"2018-09-06T10:15:09.137849+00:00","description":"Crohn\u2019s
        and Colitis UK have teams of volunteers based around the country making a
        positive impact in their local communities to raise awareness of Crohn\u2019s
        Disease and Ulcerative Colitis. Join our team of volunteers to coordinate
        team finances and take an active role in planning and delivering one or more
        of our awareness raising activities; events, fundraising, social media, writing
        articles and creating newsletters.\n\nWhat the role inv[...]
