---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"address_1":"177 Preston Hill","address_2":null,"availability":{"friday":[true,true,true],"monday":[true,true,true],"saturday":[true,true,true],"sunday":[true,true,true],"thursday":[true,true,true],"tuesday":[true,true,true],"wednesday":[true,true,true]},"city":"Harrow","county":"Greater
        London","created":"2019-11-27T12:05:17.723135+00:00","description":"To visit
        and interact with a resident through a range of activities selected by mutual
        agreement.","for_recruiter":{"active_opportunities_count":5,"address_1":"117
        Preston Hill","address_2":null,"application_via_url":false,"banner":[],"blurb":"The
        Friends of Birchwood Grange Care Home support the work of the home situated
        in Harrow.  Birchwood Grange is a friendly care home that offers residential
        care, residential dementia care and respite care.\n\nThe Friends aim to improve
        the quality of life of the residents of the care home by working with staff,
        residents and relatives. The Friends of Birchwood Grange are looking to develop
        services on the site. We have found that this is particularly valued by some
        residents who through deteriorating health do not have the confidence to come
        out of their rooms. Alongside this, we support the care homes\u2019 activities\u2019
        coordinators by providing extra pairs of hands during organised activity sessions
        and outings.","charity":false,"city":"Harrow","contact_name":"Nichole Wheaton","created":"2019-11-27T11:34:51.304787+00:00","doit_approved":false,"donation_page":null,"email":"info@friendsofcarehomes.org.uk","facebook":null,"id":"eb1e3188-eedf-4668-a19d-e4f2d8858635","instagram":null,"is_user_subscribed":false,"is_volunteer_center":false,"lat":51.5771,"links":[{"href":"/v2/orgs/friends-of-birchwood-grange","title":"Friends
        of Birchwood Grange Profile"}],"lng":-0.291147,"logo":[],"name":"Friends of
        Birchwood Grange","permissions":null,"phone":"02073072570","postcode":"HA3
        9UY","rating":"0.00","rating_count":0,"slug":"friends-of-birchwood-grange","source":"doittrust","subscriber_count":0,"twitter":null,"website":"http://www.friendsofcarehomes.org.uk"},"for_recruiter_id":"eb1e3188-eedf-4668-a19d-e4f2d8858635","id":"691ae71c-107a-4fdb-92f8-0e27ce06ea03","interests":[{"children":[],"created":"2014-10-26T17:24:26.142866+00:00","id":"6fc9bb15-1728-4d4d-bdab-51be247acba0","name":"Social
        care","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"social-care","updated":"2014-10-26T17:24:26.142886+00:00"},{"children":[],"created":"2014-10-26T17:24:26.260228+00:00","id":"3fd515b4-6e1a-41a1-bad9-ea401937555b","name":"Older
        people","parent_id":"56fabd4e-bac3-484f-9f55-448445f83481","slug":"older-people","updated":"2014-10-26T17:24:26.260247+00:00"},{"children":[],"created":"2014-10-26T17:24:26.146376+00:00","id":"484cccef-29f7-463f-97e0-385657bc58da","name":"Disability","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"disability","updated":"2014-10-26T17:24:26.146396+00:00"},{"children":[],"created":"2014-10-26T17:24:26.263725+00:00","id":"52bd46a8-63d2-47d8-b4a1-785f8215da59","name":"Medicine","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"medicine","updated":"2014-10-26T17:24:26.263745+00:00"}],"is_new":false,"is_updated":false,"lat":51.5771,"lng":-0.291147,"local_authority":{"id":"7f0b0054-675b-4fe8-8fc0-eb305e9fcc20","name":"Brent
        London Borough","slug":"brent-london-borough"},"location_id":null,"location_name":null,"location_type":"SL","locations":[{"address_1":"177
        Preston Hill","address_2":null,"city":"Harrow","county":"Greater London","geom":"01010000005706d50627a2d2bfc442ad69dec94940","id":"691ae71c-107a-4fdb-92f8-0e27ce06ea03","lat":51.5771,"lng":-0.291147,"local_authority":{"id":"7f0b0054-675b-4fe8-8fc0-eb305e9fcc20","name":"Brent
        London Borough","slug":"brent-london-borough"},"location":null,"location_id":null,"location_name":null,"location_type":"SL","places_available":5,"postcode":"HA3
        9UY","rating":"0.00","rating_count":0,"working_from_home":false}],"micro_availability":[],"owner_recruiter":{"active_opportunities_count":5,"address_1":"117
        Preston Hill","address_2":null,"application_via_url":false,"banner":[],"blurb":"The
        Friends of Birchwood Grange Care Home support the work of the home situated
        in Harrow.  Birchwood Grange is a friendly care home that offers residential
        care, residential dementia care and respite care.\n\nThe Friends aim to improve
        the quality of life of the residents of the care home by working with staff,
        residents[...]
- request:
    method: get
    uri: https://api.do-it.org/v2/opportunities?lat=51.5978&lng=-0.3370&miles=3.0&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"availability":{"friday":[true,true,false],"monday":[true,true,false],"saturday":[true,true,false],"sunday":[true,true,false],"thursday":[true,true,false],"tuesday":[true,true,false],"wednesday":[true,true,false]},"created":"2019-07-30T13:33:01.555629+00:00","description":"Are
        you keen on recycling? Do you believe it\u2019s a good idea that clothes and
        household goods are not thrown away but used by someone else?  Are you creative?
        Do you enjoy sorting and ordering? Do you enjoy working in a team and interacting
        with people?   We are looking for people who have all or some of these positive
        attributes.  All Aboard is the Jewish Community\u2019s leading charity shop
        chain.  \n\nWe are looking for people to assist in our shop.","for_recruiter":{"active_opportunities_count":2,"address_1":"Head
        Office, Stella Lucas House, Unit 10","address_2":"Colne Way, Colne Way Court","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/logo_cmn9bzvVk7s5hu6scxMw7E.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/logo_cmn9bzvVk7s5hu6scxMw7E.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/logo_cmn9bzvVk7s5hu6scxMw7E.320x391.jpg","height":391,"width":320}],"blurb":"All
        Aboard supports in excess of 60 UK charities that work with vulnerable children
        and students, the disabled, service veterans, patients and their families,
        senio[...]
[...]
