---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": "Cedars Hall", "city": "Harrow",
        "created": "2015-06-25T09:46:55.981309+00:00", "description": "\u2022\tAnswering,
        screening and forwarding phone calls. \n\n\u2022\tGiving basic advice relating
        to special educational needs and disability (for which training will be given)\n\n\u2022\tManaging
        diaries\n\n\u2022\tCompassionately approaching sensitive case-details\n \n\u2022\tGood
        literacy skills\n\n\u2022\tAble to deal with difficult clients or customers
        (for which support and training will be provided)\n\n\u2022\tData entry",
        "for_recruiter": {"contact_name": "Sejal Sanghvi", "created": "2015-06-25T09:19:04.575700+00:00",
        "email": "sejal.sanghvi@family-action.org.uk", "id": "e0890a7e-a048-49fd-818f-08bbd15b54e8",
        "logo": [], "name": "Family Action Harrow SENDIAS", "phone": "020 8428 6487",
        "rating": "0.00", "slug": "family-action-harrow-sendias"}, "for_recruiter_id":
        "e0890a7e-a048-49fd-818f-08bbd15b54e8", "id": "fba2a1cf-b198-4e35-abd1-047944621b7d",
        "interests": [{"children": [], "created": "2014-10-26T17:24:26.271205+00:00",
        "id": "8678f792-d24e-4810-99d5-c6e6ba4196a4", "name": "Families", "parent_id":
        "56fabd4e-bac3-484f-9f55-448445f83481", "slug": "families", "updated": "2014-10-26T17:24:26.271224+00:00"}],
        "is_new": false, "lat": 51.6079, "lng": -0.352798, "location": null, "location_id":
        null, "location_name": null, "location_type": "SL", "micro_availability":
        [], "owner_recruiter": {"contact_name": "Sejal Sanghvi", "created": "2015-06-25T09:19:04.575700+00:00",
        "email": "sejal.sanghvi@family-action.org.uk", "id": "e0890a7e-a048-49fd-818f-08bbd15b54e8",
        "logo": [], "name": "Family Action Harrow SENDIAS", "phone": "020 8428 6487",
        "rating": "0.00", "slug": "family-action-harrow-sendias"}, "owner_recruiter_id":
        "e0890a7e-a048-49fd-818f-08bbd15b54e8", "photo": [], "postcode": "HA3 6QH",
        "rating": "0.00", "specific_end_date": "2016-05-25T09:38:05+00:00", "specific_start_date":
        "2015-06-25T09:38:05.102000+00:00", "status": "live", "title": "Admin Support
        Worker", "updated": "2015-06-25T09:40:49.648959+00:00", "working_from_home":
        false}, {"address_1": "Blackwell Hall, Uxbridge Road", "city": "Stanmore",
        "created": "2014-10-27T09:50:56.034523+00:00", "description": "By Volunteering
        to work with beavers, you will be responsible, along with the other leaders,
        helpers and members for planning and running the weekly activities for 6-8
        year olds! \n\nIt is a fun and rewarding role, allowing you to watch the young
        people enjoy the activities you organise, as well being involved in their
        development as they grow in confidence and ability. \n\nThe Scout Association
        provides a wide range of books and electronic resources to aid volunteers
        plan their activities together with an award winning training scheme and on-line
        programme resources", "for_recruiter": {"contact_name": null, "created": "2014-10-27T09:50:29.663966+00:00",
        "email": "debbie.evans@scouts.org.uk", "id": "33c3a2ab-06e2-4fab-a865-a8518cd842ca",
        "logo": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.125x125.jpg",
        "height": 125, "width": 125}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.109x109.jpg",
        "height": 109, "width": 109}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.76x76.jpg",
        "height": 76, "width": 76}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/Image_fot_VInspired_adults_z75XoyfZoRmQm396Gxd8g3.50x[...]
[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0&page=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": null, "city": null, "created": "2016-01-24T17:26:00.277167+00:00",
        "description": "TRAID charity works to stop clothes from being thrown away.
        We turn clothes waste into funds and resources to reduce the environmental
        and social impacts of our clothes.   TRAID charity shops stock high quality
        2nd hand clothing, vintage and shoes for women and men.", "for_recruiter":
        {"contact_name": "rani perin", "created": "2016-01-08T12:41:41.436496+00:00",
        "email": "ranibooksgirl@yahoo.com", "id": "050e13f3-f1d2-47aa-85d8-425fd4c1b70c",
        "logo": [], "name": "watford volunteer centrre", "phone": "0753 847 3138",
        "rating": "0.00", "slug": "watford-volunteer-centrre"}, "for_recruiter_id":
        "050e13f3-f1d2-47aa-85d8-425fd4c1b70c", "id": "b6875885-1558-4374-822b-66bb52d99046",
        "interests": [], "is_new": false, "lat": 51.57835, "lng": -0.33208, "location":
        {"admin_1": "England", "admin_2": "Greater London", "admin_3": "Harrow", "admin_4":
        null, "id": "58b143ec-1033-4fd9-a8c2-d94ae0a18f03", "lat": 51.57835, "lng":
        -0.33208, "name": "Harrow"}, "location_id": "58b143ec-1033-4fd9-a8c2-d94ae0a18f03",
        "location_name": "Harrow", "location_type": "RL", "micro_availability": [],
        "owner_recruiter": {"contact_name": "rani perin", "created": "2016-01-08T12:41:41.436496+00:00",
        "email": "ranibooksgirl@yahoo.com", "id": "050e13f3-f1d2-47aa-85d8-425fd4c1b70c",
        "logo": [], "name": "watford volunte[...]
[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0&page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": "118 Station Road", "city": "Edgware",
        "created": "2014-10-27T11:02:54.853779+00:00", "description": "NOTE: Please
        do not apply for this role via do-it.org, please apply in-store. If you are
        not sure where your nearest store is, please visit www.barnardos.org.uk/shopmap
        and enter your postcode to find out. If you would like to chat to a member
        of the team ahead of your visit you can find the store phone number by clicking
        on the shop icon on the map on our website. \r\n\r\nRunning a Barnardo''s
        Store needs a good team and you could be part of it! Our stores rely on a
        team of multi-skilled volunteers, from all walks of life who come together
        to generate vital funds for Barnardo''s work with children, young people and
        their families.\r\n\r\nUnlike standard retail outlets, our stores offer a
        fantastic opportunity to gain experience in all aspects of the retail operation.
        Our Volunteer Retail Assistants are trained to assist in a wide range of activities
        including:\r\n\r\n? Providing strong customer service.\r\n? Serving customers
        and successfully operating the till.\r\n? Replenishing stock by making sure
        our rails and shelves are well-stocked, visually appealing and tidy.\r\n?
        Merchandising throughout the store.\r\n? Stock preparation including sorting,
        steaming and pricing.\r\n? Possible administrative tasks such as stocktaking.\r\n\r\nWe
        will provide you with all the support you need to feel confident in your rol[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"address_1":null,"address_2":null,"availability":{"friday":[false,false,false],"monday":[false,false,false],"saturday":[false,false,false],"sunday":[false,false,false],"thursday":[false,false,false],"tuesday":[false,false,false],"wednesday":[false,false,false]},"city":null,"county":null,"created":"2018-07-23T07:05:41.712640+00:00","description":"A
        research project to assess the needs of people with MS in Harrow. \n\nThis
        will enable the Harrow MS Group to plan future activities.\n\nThis opportunity
        has been posted by Voluntary Action Harrow Co-operative, on behalf of the
        Harrow MS Group.","for_recruiter":{"active_opportunities_count":11,"address_1":"The
        Lodge","address_2":"64 Pinner Road","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.320x391.jpg","height":391,"width":320}],"blurb":"Help
        Out Harrow promotes and brokers volunteer opportunities for a variety of Harrow
        charities and voluntary groups.","charity":false,"city":"Harrow","contact_name":"Volunteering
        Team","created":"2016-01-11T16:55:34.106821+00:00","doit_approved":false,"donation_page":null,"email":"volunteering@voluntaryactionharrow.org.uk","facebook":"https://www.facebook.com/VAHCoop","id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","instagram":null,"is_user_subscribed":false,"is_volunteer_center":false,"lat":51.5815,"links":[{"href":"/v2/orgs/help-out-harrow","title":"Help
        Out Harrow! Profile"}],"lng":-0.345092,"logo":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.125x125.jpg","height":125,"width":125},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.109x109.jpg","height":109,"width":109},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.76x76.jpg","height":76,"width":76},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.50x50.jpg","height":50,"width":50}],"name":"Help
        Out Harrow!","permissions":null,"phone":"020 8861 5894","postcode":"HA1 4HZ","rating":"2.00","rating_count":2,"slug":"help-out-harrow","source":"doittrust","subscriber_count":11,"twitter":"https://twitter.com/VAHcoop","website":"http://www.voluntaryactionharrow.org.uk/volunteering-opportunities/"},"for_recruiter_id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","id":"c096b256-e552-4452-a0e1-9582c098790a","interests":[{"children":[],"created":"2014-10-26T17:24:26.146376+00:00","id":"484cccef-29f7-463f-97e0-385657bc58da","name":"Disability","parent_id":"24620d05-41c1-4884-a0cb-f70054faba9b","slug":"disability","updated":"2014-10-26T17:24:26.146396+00:00"}],"is_new":true,"is_updated":true,"lat":51.57835,"lng":-0.33208,"local_authority":{"id":"0561a78f-83e1-47fa-ae4c-07a9cf7390d3","name":"Harrow
        London Borough","slug":"harrow-london-borough"},"location_id":"58b143ec-1033-4fd9-a8c2-d94ae0a18f03","location_name":"Harrow","location_type":"RL","locations":[{"address_1":null,"address_2":null,"city":null,"county":null,"geom":"0101000000a9f6e978cc40d5bf20d26f5f07ca4940","id":"c096b256-e552-4452-a0e1-9582c098790a","lat":51.57835,"lng":-0.33208,"local_authority":{"id":"0561a78f-83e1-47fa-ae4c-07a9cf7390d3","name":"Harrow
        London Borough","slug":"harrow-london-borough"},"location":{"admin_1":"England","admin_2":"Greater
        London","admin_3":"Harrow","admin_4":null,"id":"58b143ec-1033-4fd9-a8c2-d94ae0a18f03","lat":51.57835,"lng":-0.33208,"name":"Harrow"},"location_id":"58b143ec-1033-4fd9-a8c2-d94ae0a18f03","location_name":"Harrow","location_type":"RL","places_available":1,"postcode":"HA1
        2BN","rating":"0.00","rating_count":0,"working_from_home":false}],"micro_availability":[],"owner_recruiter":{"active_opportunities_count":11,"address_1":"The
        Lodge","address_2":"64 Pinner Road","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs[...]
