---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.5978&lng=-0.3370&miles=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"address_1":"1A Headstone Drive","address_2":null,"availability":{"friday":[false,false,false],"monday":[false,false,false],"saturday":[false,false,false],"sunday":[false,false,false],"thursday":[false,false,false],"tuesday":[false,false,false],"wednesday":[false,false,false]},"city":"Harrow","county":null,"created":"2018-02-06T14:14:58.876161+00:00","description":"Ignite
        Trust is a youth- focused charity that is based in the Harrow area and works
        to engage and empower young people who are experiencing disadvantage. Ignite
        offers sports sessions, employment workshops, 1:1 mentoring, and access to
        specialist support, with the hope of transforming the lives of our young people.\n\nWe
        are looking for females to help out at some of our projects which are focused
        on empowering girls from 13-25. Our main project in which girls attend is
        ''Expression'', which provides our young people with a chance to engage in
        fun activities, talk to our youth workers about any issues they are facing,
        and have a hot meal. We require a couple of female volunteers to attend these
        sessions and engage with our young girls by playing games, sports, and generally
        chatting to them. As we offer a hot meal at the end of the session, it would
        also be helpful if our volunteers could help out with the preparation and
        serving of the food.\n\nThis opportunity has been posted by Voluntary Action
        Harrow Co-operative, on behalf of Ignite Trust.","for_recruiter":{"active_opportunities_count":7,"address_1":"The
        Lodge","address_2":"64 Pinner Road","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.320x391.jpg","height":391,"width":320}],"blurb":"Help
        Out Harrow promotes and brokers volunteer opportunities for a variety of Harrow
        charities and voluntary groups.","charity":false,"city":"Harrow","contact_name":"Volunteering
        Team","created":"2016-01-11T16:55:34.106821+00:00","doit_approved":false,"donation_page":null,"email":"volunteering@voluntaryactionharrow.org.uk","facebook":"https://www.facebook.com/VAHCoop","id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","instagram":null,"is_user_subscribed":false,"is_volunteer_center":false,"lat":51.5815,"links":[{"href":"/v2/orgs/help-out-harrow","title":"Help
        Out Harrow! Profile"}],"lng":-0.345092,"logo":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.125x125.jpg","height":125,"width":125},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.109x109.jpg","height":109,"width":109},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.76x76.jpg","height":76,"width":76},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/LT8GnLA__400x400.50x50.jpg","height":50,"width":50}],"name":"Help
        Out Harrow!","permissions":null,"phone":"020 8861 5894","postcode":"HA1 4HZ","rating":"2.00","rating_count":2,"slug":"help-out-harrow","source":"doittrust","subscriber_count":5,"twitter":"https://twitter.com/VAHcoop","website":"http://www.voluntaryactionharrow.org.uk/volunteering-opportunities/"},"for_recruiter_id":"4dd7dfe2-c281-4170-8f0b-da17e8af5e5d","id":"88f3aa8b-23c2-467a-964d-853c8820e976","interests":[{"children":[],"created":"2014-10-26T17:24:26.274701+00:00","id":"02b052fd-4f3d-418b-9542-0b980533b03b","name":"Young
        people","parent_id":"56fabd4e-bac3-484f-9f55-448445f83481","slug":"young-people","updated":"2014-10-26T17:24:26.274721+00:00"}],"is_new":false,"is_updated":false,"lat":51.5944,"lng":-0.336192,"local_authority":{"id":"0561a78f-83e1-47fa-ae4c-07a9cf7390d3","name":"Harrow
        London Borough","slug":"harrow-london-borough"},"location_id":null,"location_name":null,"location_type":"SL","locations":[{"address_1":"1A
        Headstone Drive","address_2":null,"city":"Harrow","county":null,"geom":"010100000037514b732b84d5bf075f984c15cc4940","id":"88f3aa8b-23c2-467a-964d-853c8820e976","lat":51.5944,"lng":-0.336192,"local_authority":{"id":"0561a78f-83e1-47fa-ae4c-07a9cf7390d3","name":"Harrow
        London Borough","slug":"harrow-london-borough"},"location":null,"location_id":null,"location_name":null,"location_type":"SL","places_available":2,"postcode":"HA3
        5QX","rating":"0.00","rating_count":0,"working_from_home":false}],"micro_availability":[],"owner_recruiter":{"active_opportunities_count":7,"address_1":"The
        Lodge","address_2":"64 Pinner Road","application_via_url":false,"banner":[{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.1170x391.jpg","height":391,"width":1170},{"absolute_url":"https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/banners/team-386673_1280_jDkQqYemMhh9VK8W2j27Sm.768x391.jpg","height":391,"width":768},{"absolute_url":"https://s3-eu-west-1.amazonaws[...]
