/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require font-awesome
*/

.flash {
text-align: center;
padding: .3em .4em;
margin: 35px auto .5em;
clear: both;
       max-width: 46.923em;
       *max-width: 45.750em;
}

.flash.error, .flash.alert {
border: thin solid #8b0000;
background: #ffc0cb;
color: #000000;
}

.flash.notice, .flash.info {
border: thin solid #ff0;
background: #bce8f1;
}

.flash.warning {
border: thin solid #b8860b;
background: #ff0;
}

#main .container {

    margin-top: 45px;
}




