/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require font-awesome
*/

.flash {
text-align: center;
padding: .3em .4em;
margin: 35px auto .5em;
clear: both;
       max-width: 46.923em;
       *max-width: 45.750em;
}

.flash.error, .flash.alert {
border: thin solid #8b0000;
background: #ffc0cb;
color: #000000;
}

.flash.notice, .flash.info {
border: thin solid #ff0;
background: #bce8f1;
}

.flash.warning {
border: thin solid #b8860b;
background: #ff0;
}

#main .container {

    margin-top: 50px;
}


/* Custom navbar   */
#banner {
    position:relative;
    top:0;
    left:0;
    height: 50px;
    z-index: 0;
    margin-bottom: -50px;
}

.btn-navbar {
    position:relative;
    z-index: 989;
}

/* Custom Media types */

/* Large desktop */
@media (min-width: 1200px) {

    #navbar .navbar-inner{
        height: 70px;
    }
}

/*Desktop */
@media (min-width: 979px) and (max-width: 1200px){
    #navbar .navbar-inner{
        height: 55px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    #navbar .navbar-inner{
        height: 50px;
    }
    #menuLogin .dropdown-toggle, ul, li {
        background-color: white !important;
        position:relative;
        z-index: 999 !important;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    #navbar .navbar-inner{
        height: 30px;
    }

    #menuLogin .dropdown-toggle, ul, li {
        background-color: white !important;
        position:relative;
        z-index: 999 !important;
    }
}

/* Landscape phones and down */
/* We are still facing issues with this resolution */
@media (max-width: 480px) {
    #navbar .navbar-inner{
        height: 20px;
    }
    #menuLogin .dropdown-toggle, ul, li {
        background-color: white !important;
        position:relative;
        z-index: 999 !important;
    }
}

