/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require font-awesome
 *= require bootstrap-sortable
 *= require bootstrap-switch
 *= require bootstrap-datepicker3
 *= require fullcalendar
*/

body, html {
    height: 100% !important;
}
body {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: whitesmoke !important;
    line-height: 20px;
}
li {
    list-style: none;
}
form {
    margin: 0 0 20px;
}

.ls_infobox {
  border-radius: 4px;
  margin-bottom: 8px;
  background: white;
  padding: 5px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
.page-frame {
    max-width: 1200px;
    min-height: 100%;
    border-radius: 2px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto -80px;
}

#push {
    height: 40px;
}
#footer {
    background: white;
    min-height: 0%;
}
#push, #footer {
    clear: both;
}

#footer a {
    padding-left: 0px;
}

#main .container {
    background-color: white;
}

#main p, a {
    padding-left: 0px;
}

/*#main .btn {*/
    /*padding-left: 8px !important;*/
/*}*/
.position-bottom {
    margin-bottom:0;
}

/* CUSTOMIZE THE COOKIE ALERT
-------------------------------------------------- */

#cookie-message {
    display: none;
    text-align: left;
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(223, 240, 216);
    background: rgba(223, 240, 216, 0.8);
    border-bottom: 1px solid #9B9E89;
    padding-bottom: 20px;
}

#cookie-message-inner {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}


#cookie-message-inner .btn {
    border: none;
    background: #ed1b23 !important;
    color: white;
    cursor: pointer;
    margin-top: 17px;
    margin-right: 10px;
    /*height: 30px;*/
    /*display: block;*/
    float: right !important;
    padding: 4px 10px;
}
#cookie-message-inner h2 {
    display: inline-block;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    margin-top: 20px ;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav > li > a {
    padding-top: 19px;
    padding-bottom: 17px;
}

.nav input {
    margin: 5px 5px 5px 5px;
    padding: 0 5px 0 5px;
}

/* Adjust styling from Bootstrap 3 to old Bootstrap 2 styles*/
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

select, textarea, input[type="text"], input[type="password"],
input[type="email"], input[type="search"] {
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
}

.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

label, select, button, input[type="button"], input[type="reset"],
input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

textarea, input[type="text"] {
    height: auto;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

textarea, input[type="text"] {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

input[type="text"] {
  height: 30px;
}

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background-image: -o-linear-gradient(top, #fff, #f2f2f2);
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.navbar-inner:before, .navbar-inner:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar-inner:after {
    clear: both;
}

.navbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #fff;
}

.navbar .brand:hover {
    text-decoration: none;
}

.navbar .container {
    width: auto;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}

.nav > li {
    line-height: 20px;
    display: list-item;
}

.navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

.nav-pills>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 2px 2px 2px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 14px;
}

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar .btn-navbar {
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ededed;
    background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
}

.navbar .btn, .navbar .btn-group {
    margin-top: 5px;
}

.navbar .btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}

.navbar .nav>li>.dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    position: absolute;
    top: -7px;
    left: auto;
    right: 12px;
}

.navbar .nav>li>.dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: auto;
    right: 13px;
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-navbar .icon-bar+.icon-bar {
    margin-top: 3px;
}

.btn-group > .btn {
  margin-top: 0;
}

.radio.inline, .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin: 0;
    vertical-align: middle;
}

.text_area.col-md-6 {
  float: none;
}

@media (min-width: 980px) {
    #page-logo {
        background: url('HCN-long.png') no-repeat;
        display: inline-block;
        height: 72px;
        width: 1200px;
        line-height: 0;
        font-size: 0;
        color: transparent;
    }

    .nav-collapse.collapse {
        height: auto;
        overflow: visible;
        display: block;
    }
}

@media (max-width: 979px) {
    #page-logo {
        background: url('HCN-small.png') no-repeat;
        display: inline-block;
        height: 135px;
        width: 120px;
        line-height: 0;
        font-size: 0;
        color: transparent;
    }
    .navbar .btn-navbar {
        display: block;
    }
    .navbar .brand {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 0 0 -5px;
    }
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
        font-weight: bold;
        color: #777;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .nav-collapse .nav>li {
        float: none;
    }
    .navbar .nav-collapse .nav.pull-right {
        float: none !important;
        margin-left: 0;
    }
    .nav-collapse, .nav-collapse.collapse {
        overflow: hidden;
        height: 0;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav>li>a {
        margin-bottom: 2px;
    }
    .nav-collapse .open>.dropdown-menu {
        display: block;
    }
    .navbar .container {
        width: auto;
        padding: 0;
    }
    .dropdown-toggle {
        margin-left: 0;
    }
    .nav-collapse .dropdown-menu {
        position: static;
        top: auto;
        left: auto;
        float: none;
        display: none;
        max-width: none;
        margin: 0 15px;
        padding: 0;
        background-color: transparent;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}


/* Get the top/bottom padding equal for the links in the navbar */
#button-rack {
  padding: 1px 0 1px 0 !important;
}

/* so that the extra superadmin-only buttons don't get too spaced out */
.dropdown-toggle {
    margin-left: -5px;
    margin-right: 0 !important;
}


/*Contributors list using Flex-boxes and media types */

#git-container {
    display: flex;
    flex-flow: row wrap;
}

#git-container .git-item {
    width: 25%;
    height: 120px;
    margin-bottom: -40px!important;
}

#git-container .git-item h2, .git-item h4, .git-item p, .git-item a  {
    padding-left: 8px !important;
}

@media (min-width: 768px) and (max-width: 979px) {

    #git-container .git-item {
        width: 50%;
        height: 120px;
        margin-bottom: -20px!important;
    }
}

@media (max-width: 767px) {

    #git-container .git-item {
        width: 50%;
        height: 120px;
        margin-bottom: -20px!important;
    }
}
@media (max-width: 480px) {

    #git-container .git-item {
        width: 50%;
        height: 120px;
        margin-bottom: -10px!important;
    }
}

@media (max-width: 320px) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="email"], input[type="search"] {
        width: 180px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        height: 30px;
        line-height: 30px;
    }
    .navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
        left: auto;
        right: 0;
        margin-left: 0;
    }
    #login {
        width: 270px!important;
    }
}

/*End of CSS for contributors list*/

.form-frame {
    position: relative;
    padding: 30px;
    max-width: 370px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.form-frame input[type=text],.form-frame input[type=email], .form-frame textarea {
    background: rgb(235, 241, 245);
    color: rgb(36, 39, 41);
}
.form-frame  input:focus, .form-frame  textarea:focus {
    outline: 0;
    background: #FFF;
}

/* Page edit form */

label.control-label#page_link_visible {
    display: inline-block;
}
input#page_link_visible {
    margin: 0;
}
#loginForm{
    margin-bottom: 0px;
}
#loginForm .in{
     margin-bottom: 20px;
}
#remember_me {
    margin-top: 5px;
    margin-bottom: 5px;
}
#remember_me > label{
    padding-left: 2px;
}
#floating_div {
    text-align: center;
    z-index: 100;
    position: relative;
    left: 30%;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.wide_form {
    width: 95%;
    margin-bottom: 0 !important;
    margin-top: 10px;
}

.borderless {
    border-top: none !important;
}
div#container textarea {
  min-width: 270px;
  width: 270px;
  height: 22px;
  line-height: 24px;
  min-height: 22px;
  overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
  padding-top: 1.1em; /* fixes text jump on Enter keypress */
}

.gm-style-iw {
  height: auto !important;
  padding-right: 3em;
}

/* CUSTOMIZE DEVISE ERROR MESSAGE
-------------------------------------------------- */

#error_explanation {
  margin: 20px 0;
}

#error_explanation h4 {
  font-size: 17px;
  font-weight: 400;
}

#error_explanation ul {
  padding: 10px;
  margin: 0;
  border: 2px solid #D61516;
  background-color: #FFEDEF;
  font-weight: 600;
}

#error_explanation ul li {
  list-style: inside disc;
}
