@import "utils/colors";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.event_h3 {
  margin: 10px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

.event-box {
  height: 440px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

#edit-button {
  font-size: 18px;
  margin-left: -15px;
  padding: 10px;
  letter-spacing: 1px;
}
