.map_container {
  padding: 6px;
  margin-top: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 90%;
}

#map_canvas {
  width: 100%;
  height: 400px;
}

.map_container img {
    max-width: none;
}

.map_container label {
    width: auto; display:inline;
}

.measle {
  &:hover{
    cursor: pointer;
  }
  width: 6px;
  height: 6px;
}

.marker {
  &:hover{
    cursor: pointer;
  }
  width: 16px;
  height: 30px;
}

.arrow_box {
  position: relative;
  border: 4px solid white;
  border-radius: 4px;
  width: 280px;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}
