.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 90%;
}

#map_canvas {
  width: 100%;
  height: 400px;
}

.map_container img {
    max-width: none;
}

.map_container label {
    width: auto; display:inline;
}
.vol_op{
  &:hover{
    cursor: pointer;
  }
}
.measle {
  &:hover{
    cursor: pointer;
  }
  width: 6px;
  height: 6px;
}

.marker {
  &:hover{
    cursor: pointer;
  }
  width: 16px;
  height: 30px;
}

.infowindow_close{
  position: absolute;
  top: 0;
  right: 5px;
}

.arrow_box, .arrow_box_vol_op {
  position: relative;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 280px;
  padding: 10px;
  // box-shadow: 2px 2px 2px #888888;
}

.arrow_box:after, .arrow_box:before{
  top: 100%;
}

.arrow_box_vol_op:after, .arrow_box_vol_op:before{
  bottom: 100%;
}

.arrow_box:after, .arrow_box:before, .arrow_box_vol_op:after, .arrow_box_vol_op:before{
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_vol_op:after{
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.arrow_box:after{
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box_vol_op:before {
  border-color: rgba(219, 219, 219, 0);
  border-bottom-color: #dbdbdb;
  border-width: 11px;
  margin-left: -11px;
}
.arrow_box:before {
  border-color: rgba(219, 219, 219, 0);
  border-top-color: #dbdbdb;
  border-width: 11px;
  margin-left: -11px;
}
