.map_container {
  padding: 6px;
  margin-top: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 90%;
}

#map_canvas {
  width: 100%;
  height: 400px;
}

.map_container img {
    max-width: none;
}

.map_container label {
    width: auto; display:inline;
}

.measle {
  width: 6px;
  height: 6px;
}

.marker {
  width: 16px;
  height: 30px;
}

/*.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}*/
