#floating_div {
    text-align: center;
    z-index: 100;
    position: relative;
    left: 30%;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.org_form {
    width: 95%;
    margin-bottom: 0 !important;
}
.org-info-msg-1 {
    color: rgba(0, 0, 0, 0.7);
    background-color: #E0FDEF;
    width:50%;
    border-radius:2em;
    text-align: center;
}

.borderless {
    border-top: none !important;
}