.org-info-msg-1 {
    color: rgba(0, 0, 0, 0.7);
    background-color: #E0FDEF;
    width:50%;
    border-radius:2em;
    text-align: center;
}
.org_h3 {
  margin: 10px 0px;
  font-size: 24.5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

.form-inline {
  margin-bottom: 5px;
}

.left-side {
  display: inline-block;
  width: 24%;
}

.field-label {
  color: #899096;
  line-height: 19px;
}

.right-side {
  display: inline-block;
  width: 75%;
}

.category-select {
  width: 100%;
  margin-bottom: 5px;
}

.flex-column {
}

.flex-row {
}
