.volunteer-header {
  font-size: 2.7em;
  width: 100%;
}

.volunteer-ops-search {
  .flex-row {
    margin-bottom: 5px;
  }

  .left-side {
    display: flex;
    width: 120px;
  }

  .field-label {
    font-weight: bolder;
    margin-bottom: auto;
    margin-top: auto;
  }

  .right-side {
    display: flex;
    flex: initial;
    min-width: 100px;
    width: 570px;
  }

  .search-text {
    margin-bottom: 0;
    width: 100%;
    height: 40px;
  }

  .search-btn {
    flex: none;
    margin-left: 5px;
  }

}

.margin-bottom-10 {
  margin-bottom: 10px;
}
