.table-borderless td {
    border-top: none !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFFFFF;
}

#toolbar.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}