<% if @organization.users.empty? %>
    <div>This organisation has no admins yet</div>
<% else %>
  <div>
  Organisation administrator emails:
  <ol>
  <% @organization.users.each do |admin| %>
  <li><%= admin.email %></li>
  <% end %>
  </ol>
  </div>
<% end %>