(function() {
    var page = 1,
    loading = false;
    orgs = $('#orgs_scroll');
    loader = $('#loading');
    no_elem_div = $('#floating_div');
    last_elem = null;
    last_page = false

    function nearBottomOfPage() {
        return (orgs[0].scrollTop + orgs.innerHeight() >= orgs[0].scrollHeight) && !last_page;
    }

    function getLastElement(parent, child){
        list = parent[0].getElementsByTagName(child);
        return list[list.length - 1];
    }

    orgs.scroll(function(){
        if (loading) {
            return;
        }

        if(nearBottomOfPage()) {
            loading=true;
            loader.css('display', 'block');
            page++;
            $.ajax({
                url: document.URL + '?test=0&page=' + page,
                type: 'get',
                dataType: 'script',
                success: function() {
                    loading=false;
                    loader.css('display', 'none');
                    if (last_elem === getLastElement(orgs, 'tr')) {
                        no_elem_div.css('display', 'block')
                        setTimeout(function() { no_elem_div.animate({opacity:0}) }, 3000)
                        setTimeout(function() { no_elem_div.css('display', 'none') }, 3100)
                        last_page = true;
                    }
                    last_elem = getLastElement(orgs, 'tr');
                }
            });
        }
    });

}());

$(document).ready(function() {
    <% @organizations.each do |organization| %>
    $("#organizations").append('<tr><td><u><%= link_to organization.name, organization %></u><br/><%= smart_truncate(organization.description) %></td></tr>');
    <% end %>
});