Dear Colleague,

Voluntary Action Harrow in partnership with Agile Ventures have created an online directory for Harrow Charities using information from The Charities Commission. This directory can be updated by the individual organisations once they have signed up.

To view and update your organisation's information please accept the invitation below. This will then enable you to update your organisation's directory entry.

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

To view the directory visit: <a href="http://harrowcn.org.uk/">http://harrowcn.org.uk/</a>

Any questions please get in contact.
