<h2>Project Contributors</h2>
<p>Theese fine individuals have made contributions to this project:</p>
<ul class="media-list">
<% @contributors.each do | contributor |%>
    <li class="media">
      <a class="pull-left" href="#">
      <img class="media-object img-rounded" src="<%= contributor['avatar_url'] %>" style="width:75px;height:75px">
      </a>
        <div class="media-body">
        <h4 class="media-heading"><%= contributor['login'] %></h4>
        <a href="<%= contributor['html_url'] %>">Github Profile</a>
        <p class="media-heading">Project Contributions: <%= contributor['contributions'] %></p>
      </div>
    </li>
<% end %>
</ul>