<ol class="breadcrumb">
    <li class="<%= active_if 'organisations' %>">
        <%= link_to "Organisations", organisations_path %>
    </li>
    <li class="<%= active_if 'volunteer_ops' %>">
        <%= link_to "Volunteers", volunteer_ops_path %>
    </li>
</ol>
