<div id="cookie-message" style="display: block;">
  <div id="cookie-message-inner" class="content"><h2>Cookie Policy</h2>

    <p>We use cookies to give you the best experience on our website. If you continue without changing your cookie
      settings, we assume that you consent to our use of cookies on this device. You can change your cookie settings at
      any time but if you do, you may lose some functionality on our website. More information can be found in our
      <%= link_to 'terms of use.', page_path('disclaimer') %> |
      <%= link_to 'Close', cookies_allow_path, :method => 'POST', :id => 'accept_cookies', :class => 'btn btn-primary' %>

  </div>
</div>