<footer class="footer">
   <p class="text-center"><small>
     Powered by <%= link_to image_tag("agile_ventures_full_logo2.png", :size =>"30x21", alt:"Agile Ventures Local Support"), contributors_path %>&nbsp &nbsp &nbsp &nbsp &nbsp
   </small> </p>
</footer>
