<footer class="footer">
   <p class="text-center"><small>
     Powered by <%= link_to image_tag("rails.png", :size =>"20x12", alt:"RubyonRails"), 'http://rubyonrails.org/' %>&nbsp &nbsp &nbsp &nbsp &nbsp
   </small> </p>
</footer>
