<footer class="footer">
   <p class="text-center"><small>
     Powered by <%= link_to image_tag("av_symbol_30px.png", :size =>"30x30", alt:"Agile Ventures Local Support"), contributors_path %>&nbsp &nbsp &nbsp &nbsp &nbsp
   </small> </p>
</footer>
