<footer class="footer">
  <p class="text-right"><small>
    <%= link_to_if(current_user.try(:admin?), 'New Organisation',new_organization_path){} %> |
    <%= link_to_unless_current 'Contact', page_path('contact') %> |
    <%= link_to_unless_current 'About Us', page_path('about') %> |
    <%= link_to_unless_current 'Disclaimer', page_path('disclaimer') %> |
  </small></p>
</footer>

