<footer class="footer">
  <small class="left-footer">
    <small id="provided-by-tagline">We'd love to hear your 
    <a href="https://docs.google.com/a/neurogrid.com/forms/d/1iQwIM0E2gjJF6N6UHgVwtH8OzBbpUr6DS0Xbf-UrKE0/viewform" target="_blank">feedback here</a>
    <br>
    <small id="provided-by-tagline">Harrow Community Network
    provided by</small> <small><a href="http://www.voluntaryactionharrow.org.uk/">Voluntary Action Harrow Co-operative&nbsp<%= image_tag("VAHC-Small-Logo.png", :size =>"30x30", alt:"Voluntary Action Harrow Co-operative") %></a>
  </small>
  </small>
</footer>

