<footer class="footer">
  <small>
    Harrow Community Network
    provided by <a href="http://www.voluntaryactionharrow.org.uk/">Voluntary Action Harrow&nbsp<%= image_tag("vah-logo.png", :size =>"30x30", alt:"Voluntary Action Harrow") %></a>
  </small>
</footer>

