<footer class="footer">
  <p class="text-right"><small>
    <a href=<%= static_pages_contact_path %>>Contact  </a> /
    <a href=<%= static_pages_aboutus_path %>> About Us</a>
  </small></p>

</footer>

