<footer class="footer">
  <small>
    Harrow Community Network
    provided by <a href="http://www.voluntaryactionharrow.org.uk/">Voluntary Action Harrow Co-operative&nbsp<%= image_tag("VAHC-Small-Logo.png", :size =>"30x30", alt:"Voluntary Action Harrow Co-operative") %></a>
  </small>
</footer>

