<header class="center px3 py3 white bg-darken-1 bg-cover bg-center"
  style="background-image: url(/assets/HCN-long.png)">
</header>
<header class="white bg-darken-1 bg-cover bg-center">
  <nav class="clearfix white">
    <div class="sm-col-right">
      <a href="/" class="btn py2 black muted">Home</a>
      <a href="/" class="btn py2 black muted">Organisations</a>
      <a href="/" class="btn py2 black muted">Volunteers</a>
    </div>
  </nav>
</header>
