<% content_for :scripts do %>
    <%= javascript_include_tag 'invitations' %>
<% end %>

<div class="well">
  <div id="toolbar" class="navbar">
    <div class="navbar-inner">
      <div class="btn-group" style="float: right">
        <button class="btn" data-toggle="button" id="invite_users">
          <i class="fa fa-group"></i>
          Invite Users
        </button>
        <button class="btn" data-toggle="button" id="select_all">
          <i class="fa fa-check-square"></i>
          Select All
        </button>
      </div>
    </div>
  </div>
  <div id="resend_invitation" data-resend_invitation="<%= @resend_invitation %>" style="display: none;"></div>
  <%= yield %>
</div>
<%= parent_layout 'application' %>